<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="modal.dismiss()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'CLASSSESSION.REPORT_NOTE' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" name="save-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="student" class="pt-3 pb-1 d-flex flex-column align-items-center justify-content-center">
        <ion-avatar>
            <img alt="Avatar-Student" [src]="student?.getImageUrl()" onerror="this.src='/assets/img/avatar.webp'" />
        </ion-avatar>
        <b> {{student?.fullName}}</b>
    </div>

    <!-- Notes List -->
    <app-expandable-section [(expanded)]="expanded" *ngIf="prevNotes && prevNotes.length>0">
        <div>
            <h4>{{'CLASSSESSION.NOTE_ITEMS' | translate}}:</h4>
        </div>
        <div class="old_items">

            <ion-card *ngFor="let r of prevNotes;let index=index" [ngClass]="{'reminder-item': !expanded, 'reminder-item-expanded': expanded}" class="score-item" [style.transform]="'scale(' + getScale(index) + ')'">
                <!-- Preload images before being expanded -->
                <img hidden *ngFor="let img of r.images;" [src]="imageUrl+img" />

                <ion-slides *ngIf="expanded" [pager]="true">
                    <ion-slide *ngFor="let img of r.images">
                        <img [src]="imageUrl+img" (click)="globalService.openImageViewer(imageUrl+img)" />
                    </ion-slide>
                </ion-slides>
                <ion-item lines="none">
                    <ion-avatar slot="start">
                        <ion-icon name="document-text-outline" color="secondary" size="large" *ngIf="!r.isReport"></ion-icon>
                        <ion-icon name="document-text-outline" color="warning" size="large" *ngIf="r.isReport"></ion-icon>
                        <!-- <ion-icon name="newspaper-outline" color="warning" size="small" *ngIf="r.isReport"></ion-icon> -->
                    </ion-avatar>
                    <ion-label>

                        <p> {{r.note}}</p>

                    </ion-label>

                    <ion-button class="actions" fill="clear" slot="end" (click)="remove(r)" color="medium">
                        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>

                    </ion-button>
                </ion-item>
                <div class="px-3 pb-2">
                    <ion-chip [color]="colors[index%colors.length]" *ngFor="let tag of r.tags;let index=index">
                        <ion-icon name="pricetag-outline"></ion-icon>
                        <ion-label>{{tag}} </ion-label>
                    </ion-chip>
                </div>
            </ion-card>
        </div>
    </app-expandable-section>



    <!-- Add New Notes -->
    <ion-item lines="none">
        <ion-icon slot="start" name="alarm-outline"></ion-icon>
        <ion-label>{{'TYPE' | translate}} :</ion-label>

    </ion-item>

    <div class="px-3">
        <ion-segment mode="ios" [(ngModel)]="isReport" color="warning">
            <ion-segment-button value="true">
                <ion-label> {{'REPORT' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="false">
                <ion-label>{{'CLASSSESSION.PRIVATE_NOTE' | translate}} </ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>


    <ion-item class="pt-2">
        <ion-label position="stacked"> {{'CLASSSESSION.NOTE_TEXT' | translate}}</ion-label>
        <ion-textarea placeholder="{{'CLASSSESSION.PLACEHOLDER' | translate}}" [autoGrow]="true" [(ngModel)]="notes"></ion-textarea>
    </ion-item>

    <ion-item class="pt-2">

        <ion-label>{{'LABELS' | translate}}: </ion-label>
        <ion-input placeholder="{{'CLASSSESSION.PLACEHOLDER' | translate}}" [(ngModel)]="tag"></ion-input>
        <ion-button slot="end" (click)="addTag()" size="default">
            <ion-icon name="add-outline" slot="start"></ion-icon>
            {{'ADD' | translate}}

        </ion-button>

    </ion-item>
    <div>
        <ion-chip [color]="colors[index%colors.length]" *ngFor="let tag of tags;let index=index">
            <ion-icon name="pricetag-outline"></ion-icon>
            <ion-label>{{tag}} </ion-label>
            <ion-icon name="close" (click)="removeTag(index)"></ion-icon>
        </ion-chip>
    </div>


    <div class="p-2 mt-2">
        <app-uploader (filesChange)="uploadFiles=$event"></app-uploader>
    </div>

</ion-content>
<ion-footer class="p-2">
    <ion-button expand="block" (click)="save()" [disabled]="isSaving">
        <ion-icon *ngIf="!isSaving" name="save-outline" size="large"></ion-icon>
        <ion-spinner *ngIf="isSaving"></ion-spinner>
        <ion-label class="mt-2 ms-2"> {{'SAVE' | translate}}</ion-label>
    </ion-button>
</ion-footer>