ion-footer {
    margin-top: -120px;
}


.old_items {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    ion-card {
        transition: all 0.3s;

        ion-slide {
            max-height: 180px;
            overflow: hidden;

            img {

                width: 100%;
            }
        }
    }

    .reminder-item,
    .reminder-item-expanded {
        ion-item {
            ion-avatar {
                margin-inline-end: 0;
                margin-bottom: auto;
                margin-top: 1rem;
            }

            .actions {
                margin-bottom: auto;
                margin-top: 1rem;
            }
        }
    }

    .reminder-item:not(:first-child) {
        margin-top: -50px;


    }

    .reminder-item-expanded {
        margin-top: 0px;

        ion-item {
            ion-label {
                white-space: normal;
            }
        }
    }
}