ion-grid {
    display: flex;
    flex-direction: column;
    height: 100% !important;
}

.row1 {
    flex: 1 !important;
}

.row2 {
    flex: 1 !important;
}

ion-grid {
    padding: 0;
}

ion-col {
    padding: 0;

    ion-card {
        margin: 5px;
    }
}

.student-card {
    position: relative;
    overflow: visible;

    .present {
        position: absolute;
        right: -5px;
        top: -5px;
        font-size: 26px;
    }

    ion-icon {
        font-size: 24px;
    }
}

ion-button[size=large].action-button {
    height: 70px;
    width: 70px;
}

ion-modal#score-modal {
    --width: fit-content;
    --min-width: 300px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);

}

ion-modal.auto-height {}

ion-badge {
    --padding-start: 4px;
    --padding-end: 4px;
}