<ion-header class="content-header ion-no-border" collapse="fade">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="attendance()">
                <ion-icon name="people"></ion-icon>
                &nbsp; حضورغیاب
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">

            <ion-button (click)="endClass()">
                <ion-icon name="power-outline" slot="icon-only"></ion-icon>

            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <img alt="تصویر کتاب" [src]="book?.getImageUrl()" onerror="this.src='/assets/img/book_cover.png'" />
    <div class="timer">
        <div id="countdown-number" *ngIf="percentTimer1>0">{{mintues | number:'2.0'}}:{{seconds | number:'2.0'}}</div>
        <div id="countdown-number" *ngIf="percentTimer1==0">00:00 </div>
        <circle-progress [percent]="percentTimer1" [radius]="35" [outerStrokeWidth]="7" [innerStrokeWidth]="0" [outerStrokeColor]="'#78C000'"></circle-progress>
    </div>

    <div class="timer timer-secondary" *ngIf="timer2Subscribtion">
        <div id="countdown-number">{{mintues2 | number:'2.0'}}:{{seconds2 | number:'2.0'}}</div>
        <circle-progress [percent]="percentTimer2" [radius]="25" [outerStrokeWidth]="4" [innerStrokeWidth]="0" [outerStrokeColor]="'#4e7df1'"></circle-progress>

    </div>
</ion-header>

<ion-content class="round-content flex-fill ">
    <ion-fab class="timer-fab" *ngIf="globalService.currentSession?.homeWorkLater" slot="fixed" vertical="top" horizontal="end" [edge]="true">
        <ion-fab-button color="success" size="small" (click)="assessHomeWork()">
            <ion-icon name="library-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <!-- Tools -->
    <ion-fab class="timer-fab" slot="fixed" vertical="top" horizontal="start" [edge]="true">
        <ion-fab-button color="secondary">
            <ion-icon name="construct-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="end">
            <ng-container *ngIf="timer2Subscribtion;else stopTimerTemp">
                <ion-fab-button (click)="stopTimer(true)">
                    <ion-icon name="stop-circle-outline" color="danger"></ion-icon>
                </ion-fab-button>

            </ng-container>
            <ng-template #stopTimerTemp>
                <ion-fab-button (click)="isCreateTimerModalOpen=true">
                    <ion-icon name="stopwatch-outline"></ion-icon>
                </ion-fab-button>
            </ng-template>

            <ion-fab-button>
                <ion-icon name="shuffle-outline" (click)="createRandomStudent()"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="isCreateGroupModalOpen=true">
                <ion-icon name="color-filter-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <ion-item class="mt-2">
        <ion-avatar slot="start">
            <img alt="Avatar" [src]="book?.getImageUrl()" onerror="this.src='/assets/img/book.png'" />
        </ion-avatar>
        <ion-label>
            <h3> {{lesson?.name}}</h3>
            <p>
                {{book?.name}}
            </p>
        </ion-label>
        <ion-button slot="end" (click)="endClass()" size="default" color="danger" class="btn-end-class">
            <ion-icon name="power-outline" class="ms-2"></ion-icon>
            اتمام
        </ion-button>
    </ion-item>

    <!-- ToolBar -->
    <div class="d-flex justify-content-around p-2 pb-4">
        <!-- <ion-button shape="circle" (click)="onReminder()" color="medium" [class.has-reminder]="remindersCount()" [attr.data-count]="remindersCount()">
            <ion-icon slot="icon-only" name="people-outline"></ion-icon>
            <ion-label>حضورغیاب</ion-label>
        </ion-button> -->
        <ion-button shape="circle" (click)="onReminder()" color="secondary" [class.has-reminder]="remindersCount()" [attr.data-count]="remindersCount()">
            <ion-icon slot="icon-only" name="alarm-outline"></ion-icon>
            <ion-label>یادآور</ion-label>
        </ion-button>
        <ion-button shape="circle" color="success" (click)="onHomeWork()" [class.has-notes]="homeWorksCount()>0" [attr.data-count]="homeWorksCount()">
            <ion-icon slot="icon-only" name="library-outline"></ion-icon>
            <ion-label>تکلیف</ion-label>
        </ion-button>
        <ion-button shape="circle" color="danger" (click)="onTest()">
            <ion-icon slot="icon-only" name="flask-outline"></ion-icon>
            <ion-label>آزمون</ion-label>
        </ion-button>
        <ion-button shape="circle" color="warning" (click)="onNotes()" [class.has-notes]="notesCount()>0" [attr.data-count]="notesCount()">
            <ion-icon slot="icon-only" name="document-text-outline"></ion-icon>
            <ion-label>یادداشت</ion-label>
        </ion-button>

    </div>

    <!-- List ToolBar -->
    <div class="d-flex align-items-center list-tools mt-2">
        <ion-segment mode="ios" class="mx-2" [(ngModel)]="listMode">
            <ion-segment-button value="single">
                <ion-icon name="person-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="group">
                <ion-icon name="people-outline"></ion-icon>
            </ion-segment-button>
        </ion-segment>
        <hr class="flex-fill">
        <!-- Open Search -->
        <ion-button fill="clear" class="m-0" *ngIf="listMode=='single'" (click)="showSearch=!showSearch;searchTerm='';search(null)" color="medium">
            <ion-icon slot="icon-only" name="search-outline" *ngIf="!showSearch"></ion-icon>
            <ion-icon slot="icon-only" name="search-outline" color="secondary" *ngIf="showSearch"></ion-icon>
        </ion-button>
        <!-- Open Sort -->
        <ion-button fill="clear" class="m-0" color="medium" (click)="isSortModalOpen=true" *ngIf="listMode=='single'">
            <ion-icon slot="icon-only" name="swap-vertical-outline" *ngIf="sortType==''"></ion-icon>
            <ion-icon slot="icon-only" name="swap-vertical-outline" *ngIf="sortType!=''" color="success"></ion-icon>
        </ion-button>

        <ion-button fill="clear" *ngIf="viewMode=='grid'" (click)="setViewMode('list')" color="medium">
            <ion-icon name="grid-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" class="ms-2" *ngIf="viewMode=='list'" (click)="setViewMode('grid')" color="medium">
            <ion-icon name="reorder-four-outline"></ion-icon>
        </ion-button>
    </div>
    <ion-searchbar [debounce]="400" (ionChange)="search($event)" [(ngModel)]="searchTerm" placeholder="جستجو دانش آموز" mode="ios" *ngIf="showSearch && listMode=='single'"></ion-searchbar>
    <div>
        <!-- HomwWork Remind -->
        <div class="px-2">
            <ion-card color="success" *ngIf="homeWork && !globalService.currentSession?.homeWorkLater">
                <ion-item lines="none" color="success">
                    <ion-avatar slot="start">
                        <ion-icon name="library-outline" size="large"></ion-icon>
                    </ion-avatar>
                    <ion-label>

                        <h3> {{homeWork.title}}</h3>
                        <p> {{homeWork.description}}</p>
                    </ion-label>
                </ion-item>
                <div class="d-flex flex-row-reverse px-2">
                    <ion-button fill="outline" color="light" (click)="globalService.currentSession.homeWorkLater=true">بعدا</ion-button>
                    <ion-button fill="outline" color="light" (click)="assessHomeWork()">ارزیابی</ion-button>
                </div>
            </ion-card>
        </div>

        <!-- Students List -->
        <ion-grid fixed class="pb-4 students" *ngIf="listMode=='single'">
            <ion-row>
                <ng-container *ngIf="viewMode=='grid'">
                    <ion-col size="4" *ngFor="let student of students " class="d-flex  align-items-stretch">
                        <ion-card class="student-card flex-fill" (click)="onStudentAction(student)" [color]="getColor(student)">
                            <!-- If Present Icon -->
                            <ion-icon *ngIf="student.attendanceStatus== AttendanceStatus.Remote" name="laptop-outline" class="present" color="secondary"></ion-icon>
                            <!-- Has Reminder Icon -->
                            <ion-badge *ngIf="student.reminders.length>0" class="reminder  me-1" color="secondary" mode="ios">
                                <ion-icon name="alarm-outline" size="small"></ion-icon>
                            </ion-badge>
                            <!-- Has Assessment Icon -->
                            <ion-badge *ngIf="student.hasAssessment" class="assessment  me-1" color="danger" mode="ios">
                                <ion-icon name="stats-chart-outline" size="small"></ion-icon>
                            </ion-badge>

                            <!-- Avatar -->
                            <div class="d-flex justify-content-center pt-2">
                                <ion-avatar slot="start">
                                    <img alt="Avatar-Student" [src]="student.getImageUrl()" onerror="this.src='/assets/img/avatar.webp'" />
                                </ion-avatar>
                            </div>

                            <ion-card-header class="p-1">
                                <ion-card-subtitle class="text-center">
                                    {{student.fullName}}
                                </ion-card-subtitle>
                            </ion-card-header>
                            <ion-card-content class="p-2 pt-0 pb-0">
                                <ng-container *ngIf="student.attendanceStatus!=AttendanceStatus.Absent">
                                    <!-- Homework Issue -->
                                    <ion-badge *ngIf="student.homeWorkIssue" class=" me-1" color="danger" mode="ios">
                                        <ion-icon name="book-outline" size="small"></ion-icon>
                                    </ion-badge>
                                    <!-- Has Note Icon -->
                                    <ion-badge *ngIf="student.notes.length>0" class=" me-1" color="warning" mode="ios">
                                        <ion-icon name="document-text-outline" size="small"></ion-icon>
                                    </ion-badge>
                                </ng-container>
                                <!-- Scores  -->
                                <ng-container *ngFor="let score of student.scores">
                                    <ion-badge *ngIf="score.progerssFlag>0" color="success" class=" me-1" mode="ios">
                                        <ion-icon name="add-circle-outline" size="small"></ion-icon>
                                        {{score.progerssStep}}
                                    </ion-badge>
                                    <ion-badge *ngIf="score.progerssFlag<0" color="danger" class=" me-1" mode="ios">
                                        <ion-icon name="remove-circle-outline" size="small"></ion-icon>
                                        {{score.progerssStep}}
                                    </ion-badge>
                                </ng-container>

                                <ion-badge color="danger" *ngIf="student.attendanceStatus==AttendanceStatus.Absent">غایب</ion-badge>

                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ng-container>
                <ng-container *ngIf="viewMode=='list'">
                    <ion-col size="12" *ngFor="let student of students " class="d-flex  align-items-stretch">
                        <ion-card class="student-card flex-fill" (click)="onStudentAction(student)" [color]="getColor(student)">

                            <!-- Has Reminder Icon -->
                            <ion-badge *ngIf="student.reminders.length>0" class="reminder  me-1" color="secondary" mode="ios">
                                <ion-icon name="alarm-outline" size="small"></ion-icon>
                            </ion-badge>
                            <!-- Has Assessment Icon -->
                            <ion-badge *ngIf="student.hasAssessment" class="assessment  me-1" color="danger" mode="ios">
                                <ion-icon name="stats-chart-outline" size="small"></ion-icon>
                            </ion-badge>

                            <ion-card-content class="p-2 pt-0 pb-0">
                                <ion-item>
                                    <!-- Avatar -->
                                    <ion-avatar slot="start">
                                        <img alt="Avatar-Student" [src]="student.getImageUrl()" onerror="this.src='/assets/img/avatar.webp'" />
                                    </ion-avatar>
                                    <ion-label>
                                        <h3> {{student.fullName}}</h3>
                                        &nbsp;
                                        <ng-container *ngIf="student.attendanceStatus!=AttendanceStatus.Absent">
                                            <!-- Homework Issue -->
                                            <ion-badge *ngIf="student.homeWorkIssue" class=" me-1" color="danger" mode="ios">
                                                <ion-icon name="book-outline" size="small"></ion-icon>
                                            </ion-badge>
                                            <!-- Has Note Icon -->
                                            <ion-badge *ngIf="student.notes.length>0" class=" me-1" color="warning" mode="ios">
                                                <ion-icon name="document-text-outline" size="small"></ion-icon>
                                            </ion-badge>
                                        </ng-container>
                                        <!-- Scores  -->
                                        <ng-container *ngFor="let score of student.scores">
                                            <ion-badge *ngIf="score.progerssFlag>0" color="success" class=" me-1" mode="ios">
                                                <ion-icon name="add-circle-outline" size="small"></ion-icon>
                                                {{score.progerssStep}}
                                            </ion-badge>
                                            <ion-badge *ngIf="score.progerssFlag<0" color="danger" class=" me-1" mode="ios">
                                                <ion-icon name="remove-circle-outline" size="small"></ion-icon>
                                                {{score.progerssStep}}
                                            </ion-badge>
                                        </ng-container>

                                        <ion-badge color="danger" *ngIf="student.attendanceStatus==AttendanceStatus.Absent">غایب</ion-badge>

                                    </ion-label>
                                </ion-item>


                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ng-container>


            </ion-row>
        </ion-grid>

        <!-- Group View Mode -->
        <ng-container *ngIf="listMode=='group'">

            <ion-item>
                <ion-select placeholder="انتخاب گروه موجود" okText="انتخاب" cancelText="بستن " [(ngModel)]="selectedGroup">
                    <ion-select-option [value]="g" *ngFor="let g of groups">{{g.name}}</ion-select-option>
                </ion-select>
                <ion-button slot="end" expand="block" fill="outline" shape="round" (click)="isCreateGroupModalOpen=true">
                    <ion-icon slot="start" name="add"></ion-icon>
                    ایجاد گروه جدید
                </ion-button>
            </ion-item>

            <!-- Group List -->
            <ion-grid fixed class="pb-4 students">
                <ion-row *ngIf="selectedGroup">
                    <!-- Group Grid View Mode -->
                    <ng-container *ngIf="viewMode=='grid'">
                        <ion-col size="6" *ngFor="let group of selectedGroup.subGroups" class="d-flex  align-items-stretch">
                            <ion-card class="student-card flex-fill">
                                <ion-card-header>
                                    <ion-card-title>
                                        <ion-icon name="people-outline"></ion-icon>
                                        {{group.name}}</ion-card-title>
                                </ion-card-header>
                                <ion-card-content class="group">
                                    <ion-avatar slot="start" *ngFor="let s of group.students">
                                        <img alt="Avatar-Student" [src]="s.getImageUrl()" onerror="this.src='/assets/img/avatar.webp'" />
                                    </ion-avatar>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                    </ng-container>
                    <!-- Group List View Mode -->
                    <ng-container *ngIf="viewMode=='list'">
                        <ion-col size="12" *ngFor="let group of selectedGroup.subGroups " class="d-flex  align-items-stretch">
                            <ion-card class=" flex-fill">
                                <ion-card-header class="border-bottom">
                                    <ion-card-title>
                                        <ion-icon name="people-outline"></ion-icon>
                                        {{group.name}}
                                    </ion-card-title>
                                </ion-card-header>
                                <ion-card-content>
                                    <ion-item *ngFor="let s of group.students;let gi=index" [lines]="(gi==group.students.length-1)?'none':'inset'">
                                        <ion-avatar slot="start">
                                            <img alt="Avatar-Student" [src]="s.getImageUrl()" onerror="this.src='/assets/img/avatar.webp'" />
                                        </ion-avatar>
                                        <ion-label>{{s.fullName}}</ion-label>
                                    </ion-item>

                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                    </ng-container>


                </ion-row>
            </ion-grid>
        </ng-container>
    </div>

    <ion-modal #modal_create_groyp [isOpen]="isCreateGroupModalOpen" (didDismiss)="isCreateGroupModalOpen=false" [presentingElement]="presentingElement">
        <ng-template>
            <app-create-group [modal]="modal_create_groyp" [book]="book" [lesson]="lesson"></app-create-group>
        </ng-template>
    </ion-modal>

    <ion-modal #modal_reminder [isOpen]="isReminderModalOpen" (didDismiss)="isReminderModalOpen=false" [presentingElement]="presentingElement">
        <ng-template>
            <app-reminder [modal]="modal_reminder" [classTask]="globalService.currentSession" [book]="book" [lesson]="lesson" [student]="selectedStudent" [prevReminders]="modalReminders"></app-reminder>
        </ng-template>
    </ion-modal>

    <ion-modal #modal_homework [isOpen]="isHomeWorkModalOpen" (didDismiss)="isHomeWorkModalOpen=false" [presentingElement]="presentingElement">
        <ng-template>
            <app-create-home-work [modal]="modal_homework" [classTask]="globalService.currentSession" [book]="book" [lesson]="lesson" [prevItems]="modalHomeWorks"></app-create-home-work>
        </ng-template>
    </ion-modal>

    <ion-modal #modal_note [isOpen]="isNotesModalOpen" (didDismiss)="isNotesModalOpen=false" [presentingElement]="presentingElement">
        <ng-template>
            <app-note [modal]="modal_note" [classTask]="globalService.currentSession" [book]="book" [lesson]="lesson" [student]="selectedStudent" [prevNotes]="modalNotes"></app-note>
        </ng-template>
    </ion-modal>

    <ion-modal #score_modal [isOpen]="isScoreModalOpen" (didDismiss)="isScoreModalOpen=false" [presentingElement]="presentingElement">
        <ng-template>
            <app-score [modal]="score_modal" [session]="globalService.currentSession" [book]="book" [lesson]="lesson" [student]="selectedStudent" [prevScores]="selectedStudent.scores"></app-score>
        </ng-template>
    </ion-modal>

    <ion-modal class="compact-modal" #sortModel [isOpen]="isSortModalOpen" (didDismiss)="isSortModalOpen=false">
        <ng-template>
            <div class="wrapper">
                <div class="header">
                    <h1> مرتب سازی </h1>
                </div>
                <ion-list class="mx-2">
                    <ion-item button (click)="onSort('name');sortModel.dismiss()">
                        <ion-icon name="checkmark-circle-outline" slot="start" *ngIf="sortType!='name'"></ion-icon>
                        <ion-icon name="arrow-down-circle" slot="start" color="success" *ngIf="sortType=='name' && sortOrder==1"></ion-icon>
                        <ion-icon name="arrow-up-circle" slot="start" color="success" *ngIf="sortType=='name' && sortOrder==-1"></ion-icon>
                        <ion-label>
                            براساس نام
                        </ion-label>
                    </ion-item>
                    <ion-item button (click)="onSort('lastname');sortModel.dismiss()">
                        <ion-icon name="checkmark-circle-outline" slot="start" *ngIf="sortType!='lastname'"></ion-icon>
                        <ion-icon name="arrow-down-circle" slot="start" color="success" *ngIf="sortType=='lastname' && sortOrder==1"></ion-icon>
                        <ion-icon name="arrow-up-circle" slot="start" color="success" *ngIf="sortType=='lastname' && sortOrder==-1"></ion-icon>
                        <ion-label>
                            براساس نام خانوادگی
                        </ion-label>
                    </ion-item>
                    <ion-item button (click)="onSort('attendance');sortModel.dismiss()">
                        <ion-icon name="checkmark-circle-outline" slot="start" *ngIf="sortType!='attendance'"></ion-icon>
                        <ion-icon name="arrow-down-circle" slot="start" color="success" *ngIf="sortType=='attendance' && sortOrder==1"></ion-icon>
                        <ion-icon name="arrow-up-circle" slot="start" color="success" *ngIf="sortType=='attendance' && sortOrder==-1"></ion-icon>
                        <ion-label>
                            براساس وضعیت حضور
                        </ion-label>
                    </ion-item>
                    <ion-item button (click)="onSort('score');sortModel.dismiss()">
                        <ion-icon name="checkmark-circle-outline" slot="start" *ngIf="sortType!='score'"></ion-icon>
                        <ion-icon name="arrow-down-circle" slot="start" color="success" *ngIf="sortType=='score' && sortOrder==1"></ion-icon>
                        <ion-icon name="arrow-up-circle" slot="start" color="success" *ngIf="sortType=='score' && sortOrder==-1"></ion-icon>
                        <ion-label>
                            براساس وضعیت امتیاز
                        </ion-label>
                    </ion-item>
                </ion-list>
                <div class="p-2">
                    <ion-grid fixed>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button (click)="sortModel.dismiss()" color="success" expand="block" shape="round">
                                    بستن
                                </ion-button>
                            </ion-col>
                            <ion-col size="6">

                                <ion-button (click)="sortType='';sortModel.dismiss()" [disabled]="sortType==''" color="danger" fill="outline" expand="block" shape="round">
                                    حذف مرتب سازی
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </ng-template>
    </ion-modal>

    <ion-modal class="compact-modal" #createTimerModel [isOpen]="isCreateTimerModalOpen" (didDismiss)="isCreateTimerModalOpen=false">
        <ng-template>
            <div class="wrapper">
                <div class="header">
                    <ion-icon name="time-outline" size="large"></ion-icon>
                    <h1>ایجاد زمان سنج </h1>
                </div>

                <ion-grid fixed>
                    <ion-row>
                        <ion-col size="4">
                            <ion-button (click)="createTimer(1);createTimerModel.dismiss()" expand="block" shape="round" size="large" color="secondary">
                                01:00
                            </ion-button>
                        </ion-col>
                        <ion-col size="4">
                            <ion-button (click)="createTimer(2);createTimerModel.dismiss()" expand="block" shape="round" size="large" color="secondary">
                                02:00
                            </ion-button>
                        </ion-col>
                        <ion-col size="4">
                            <ion-button (click)="createTimer(3);createTimerModel.dismiss()" expand="block" shape="round" size="large" color="secondary">
                                03:00
                            </ion-button>
                        </ion-col>
                        <ion-col size="4">
                            <ion-button (click)="createTimer(5);createTimerModel.dismiss()" expand="block" shape="round" size="large" color="secondary">
                                05:00
                            </ion-button>
                        </ion-col>
                        <ion-col size="4">
                            <ion-button (click)="createTimer(10);createTimerModel.dismiss()" expand="block" shape="round" size="large" color="secondary">
                                10:00
                            </ion-button>
                        </ion-col>
                        <ion-col size="4">
                            <ion-button (click)="createTimer(15);createTimerModel.dismiss()" expand="block" shape="round" size="large" color="secondary">
                                15:00
                            </ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="4">
                            <ion-button (click)="createTimer(15);createTimerModel.dismiss()" expand="block" shape="round" size="large" color="secondary">
                                20:00
                            </ion-button>
                        </ion-col>
                        <ion-col size="4">
                            <ion-button (click)="createTimer(15);createTimerModel.dismiss()" expand="block" shape="round" size="large" color="secondary">
                                25:00
                            </ion-button>
                        </ion-col>
                        <ion-col size="4">
                            <ion-button (click)="createTimer(20);createTimerModel.dismiss()" expand="block" shape="round" size="large" color="secondary">
                                30:00
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="p-2">
                    <div class="d-flex justify-content-center align-items-center px-5 py-2">
                        <ion-item disabled>
                            <ion-input type="number" placeholder="00" [(ngModel)]="seconds2"></ion-input>
                        </ion-item>

                        :
                        <ion-item>
                            <ion-input type="number" placeholder="00" [(ngModel)]="mintues2"></ion-input>
                        </ion-item>
                    </div>
                    <ion-button (click)="createTimer(mintues2);createTimerModel.dismiss()" expand="block" shape="round">
                        ایجاد زمان سنج سفارشی
                    </ion-button>
                </div>
            </div>
        </ng-template>
    </ion-modal>

    <ion-modal class="compact-modal" #randomStudentModal [isOpen]="isRandomModalOpen" (didDismiss)="isRandomModalOpen=false">
        <ng-template>
            <app-random-student [modal]="randomStudentModal" [students]="all_students"></app-random-student>
        </ng-template>
    </ion-modal>

    <!-- Action Sheet Menu -->
    <ion-modal #modal [isOpen]="isStudentActionsModalOpen" (didDismiss)="isStudentActionsModalOpen=false" [initialBreakpoint]="0.35" [breakpoints]="[0, 0.35]">
        <ng-template>

            <ion-grid fixed>
                <ion-row>
                    <ion-col size="6" class="p-3 ion-text-center">
                        <ion-button shape="circle" (click)="onScore()" color="primary" size="large" class="action-button">
                            <div class="d-flex flex-column p-2">
                                <ion-icon slot="icon-only" name="star-half" size="large"></ion-icon>
                                <ion-label class="mt-2"> مشاهده</ion-label>
                            </div>
                        </ion-button>
                    </ion-col>
                    <ion-col size="6" class="p-3 ion-text-center">
                        <ion-button shape="circle" (click)="onAssess()" color="danger" size="large" class="action-button">
                            <div class="d-flex flex-column p-2">
                                <ion-icon slot="icon-only" name="stats-chart-outline" size="large"></ion-icon>
                                <ion-label class="mt-2"> ارزشیابی</ion-label>
                            </div>
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6" class="p-3 ion-text-center">
                        <ion-button shape="circle" color="secondary" class="action-button" size="large" (click)="onStudentReminder()">
                            <div class="d-flex flex-column p-2">
                                <ion-icon slot="icon-only" name="alarm-outline" size="large"></ion-icon>
                                <ion-label class="mt-2"> یادآور</ion-label>
                            </div>
                        </ion-button>
                    </ion-col>
                    <ion-col size="6" class="p-3 ion-text-center">
                        <ion-button shape="circle" color="tertiary" size="large" (click)="onStudentNotes()" class="action-button">
                            <div class="d-flex flex-column p-2">
                                <ion-icon slot="icon-only" name="reader-outline" size="large"></ion-icon>
                                <ion-label class="mt-2"> یادداشت</ion-label>
                            </div>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ng-template>
    </ion-modal>


</ion-content>