<ion-header class="content-header ion-no-border" collapse="fade">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="attendance()">
                <ion-icon name="people"></ion-icon>
                &nbsp; حضورغیاب
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">

            <ion-button (click)="endClass()">
                <ion-icon name="power-outline" slot="icon-only"></ion-icon>

            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <img alt="Avatar" [src]="book?.getImageUrl()" onerror="this.src='/assets/img/book_cover.png'" />

</ion-header>

<ion-content class="round-content flex-fill p-2 ">

    <ion-item>
        <ion-avatar slot="start">
            <img alt="Avatar" [src]="book?.getImageUrl()" onerror="this.src='/assets/img/book.png'" />
        </ion-avatar>
        <ion-label>
            <h3> {{lesson?.name}}</h3>
            <p>
                {{book?.name}}
            </p>
        </ion-label>
        <ion-button slot="end" (click)="endClass()" size="default" color="danger" class="btn-end-class">
            <ion-icon name="power-outline" class="ms-2"></ion-icon>
            اتمام
        </ion-button>
    </ion-item>

    <div class="d-flex justify-content-around p-2 pb-4">

        <ion-button shape="circle" (click)="onReminder()" color="secondary" [class.has-reminder]="remindersCount()" [attr.data-count]="remindersCount()">
            <ion-icon slot="icon-only" name="alarm-outline"></ion-icon>
            <ion-label>یادآور</ion-label>
        </ion-button>
        <ion-button shape="circle" color="success" (click)="homeWork()">
            <ion-icon slot="icon-only" name="library-outline"></ion-icon>
            <ion-label>تکلیف</ion-label>
        </ion-button>
        <ion-button shape="circle" color="danger">
            <ion-icon slot="icon-only" name="flask-outline"></ion-icon>
            <ion-label>آزمون</ion-label>
        </ion-button>
        <ion-button shape="circle" color="warning" (click)="onNotes()" [class.has-notes]="notesCount()>0" [attr.data-count]="notesCount()">
            <ion-icon slot="icon-only" name="document-text-outline"></ion-icon>
            <ion-label>یادداشت</ion-label>
        </ion-button>

    </div>
    <hr>
    <div>
        <ion-grid fixed>
            <ion-row>
                <ion-col size="4" *ngFor="let student of students " class="d-flex  align-items-stretch">
                    <ion-card class="student-card flex-fill" (click)="onStudentAction(student)" [color]="getColor(student)">
                        <!-- If Present Icon -->
                        <ion-icon *ngIf="student.attendanceStatus== AttendanceStatus.Present" name="checkmark-circle" class="present" color="success"></ion-icon>
                        <!-- Has Reminder Icon -->
                        <ion-badge *ngIf="student.reminders.length>0" class="reminder  me-1" color="secondary" mode="ios">
                            <ion-icon name="alarm-outline" size="small"></ion-icon>
                        </ion-badge>
                        <!-- Has Assessment Icon -->
                        <ion-badge *ngIf="student.hasAssessment" class="assessment  me-1" color="danger" mode="ios">
                            <ion-icon name="bar-chart-outline" size="small"></ion-icon>
                        </ion-badge>

                        <!-- Avatar -->
                        <div class="d-flex justify-content-center pt-2">
                            <ion-avatar slot="start">
                                <img alt="Avatar-Student" [src]="student.getImageUrl()" onerror="this.src='/assets/img/avatar.webp'" />
                            </ion-avatar>
                        </div>

                        <ion-card-header class="p-1">
                            <ion-card-subtitle class="text-center">
                                {{student.fullName}}
                            </ion-card-subtitle>
                        </ion-card-header>
                        <ion-card-content class="p-2 pt-0 pb-0">
                            <ng-container *ngIf="student.attendanceStatus!=AttendanceStatus.Absent">
                                <!-- Homework Issue -->
                                <ion-badge *ngIf="student.homeWorkIssue" class=" me-1" color="danger" mode="ios">
                                    <ion-icon name="book-outline" size="small"></ion-icon>
                                </ion-badge>
                                <!-- Has Note Icon -->
                                <ion-badge *ngIf="student.notes.length>0" class=" me-1" color="warning" mode="ios">
                                    <ion-icon name="document-text-outline" size="small"></ion-icon>
                                </ion-badge>
                            </ng-container>
                            <!-- Scores  -->
                            <ng-container *ngFor="let score of student.scores">
                                <ion-badge *ngIf="score.positiveNegetive" color="success" class=" me-1" mode="ios">
                                    <ion-icon name="add-circle-outline" size="small"></ion-icon>
                                </ion-badge>
                                <ion-badge *ngIf="!score.positiveNegetive" color="danger" class=" me-1" mode="ios">
                                    <ion-icon name="remove-circle-outline" size="small"></ion-icon>
                                </ion-badge>
                            </ng-container>

                            <ion-badge color="danger" *ngIf="student.attendanceStatus==AttendanceStatus.Absent">غایب</ion-badge>

                        </ion-card-content>
                    </ion-card>
                </ion-col>

            </ion-row>
        </ion-grid>
    </div>

    <ion-modal #modal_note [isOpen]="isNotesModalOpen" (didDismiss)="isNotesModalOpen=false" [presentingElement]="presentingElement">
        <ng-template>
            <app-note [modal]="modal_note" [classTask]="globalService.currentSession" [book]="book" [lesson]="lesson" [student]="selectedStudent" [prevNotes]="modalNotes"></app-note>
        </ng-template>
    </ion-modal>

    <ion-modal #modal_reminder [isOpen]="isReminderModalOpen" (didDismiss)="isReminderModalOpen=false" [presentingElement]="presentingElement">
        <ng-template>
            <app-reminder [modal]="modal_reminder" [classTask]="globalService.currentSession" [book]="book" [lesson]="lesson" [student]="selectedStudent" [prevReminders]="modalReminders"></app-reminder>
        </ng-template>
    </ion-modal>

    <ion-modal #score_modal id="score-modal" [isOpen]="isScoreModalOpen" (didDismiss)="isScoreModalOpen=false">
        <ng-template>
            <app-score [modal]="score_modal" [session]="globalService.currentSession" [book]="book" [lesson]="lesson" [student]="selectedStudent" [prevScores]="selectedStudent.scores"></app-score>
        </ng-template>
    </ion-modal>

    <!-- Action Sheet Menu -->
    <ion-modal class="auto-height" #modal [isOpen]="isStudentActionsModalOpen" (didDismiss)="isStudentActionsModalOpen=false" [initialBreakpoint]="0.35" [breakpoints]="[0, 0.35]">
        <ng-template>

            <ion-grid fixed>
                <ion-row>
                    <ion-col size="6" class="p-3 ion-text-center">
                        <ion-button shape="circle" color="secondary" class="action-button" size="large" (click)="onStudentReminder()">
                            <div class="d-flex flex-column p-2">
                                <ion-icon slot="icon-only" name="alarm-outline" size="large"></ion-icon>
                                <ion-label class="mt-2"> یادآور</ion-label>
                            </div>

                        </ion-button>
                    </ion-col>
                    <ion-col size="6" class="p-3 ion-text-center">
                        <ion-button shape="circle" (click)="onAssess()" color="danger" size="large" class="action-button">
                            <div class="d-flex flex-column p-2">
                                <ion-icon slot="icon-only" name="bar-chart-outline" size="large"></ion-icon>
                                <ion-label class="mt-2"> ارزشیابی</ion-label>
                            </div>
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6" class="p-3 ion-text-center">
                        <ion-button shape="circle" (click)="onScore()" color="primary" size="large" class="action-button">
                            <div class="d-flex flex-column p-2">
                                <ion-icon slot="icon-only" name="star-half" size="large"></ion-icon>
                                <ion-label class="mt-2"> مشاهده</ion-label>
                            </div>
                        </ion-button>
                    </ion-col>
                    <ion-col size="6" class="p-3 ion-text-center">
                        <ion-button shape="circle" color="tertiary" size="large" (click)="onStudentNotes()" class="action-button">
                            <div class="d-flex flex-column p-2">
                                <ion-icon slot="icon-only" name="reader-outline" size="large"></ion-icon>
                                <ion-label class="mt-2"> یادداشت</ion-label>
                            </div>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ng-template>
    </ion-modal>


</ion-content>