<ion-header class="content-header ion-no-border" collapse="fade">
    <img alt="Avatar" [src]="book?.getImageUrl()" />
</ion-header>

<ion-content class="round-content flex-fill p-2 ">

    <ion-item>
        <ion-avatar slot="start">
            <img alt="Avatar" [src]="book?.getImageUrl()" />
        </ion-avatar>
        <ion-label>
            <h3> {{lesson?.name}}</h3>
            <p>
                {{book?.name}}
            </p>
        </ion-label>
        <ion-button slot="end" (click)="endClass()" size="default" color="danger">
            پایان
        </ion-button>
    </ion-item>

    <div class="d-flex justify-content-around p-2 pb-4">

        <ion-button shape="circle" (click)="onReminder()" color="secondary">
            <ion-icon slot="icon-only" name="alarm-outline"></ion-icon>
            <ion-label>یادآور</ion-label>
        </ion-button>
        <ion-button shape="circle" color="success">
            <ion-icon slot="icon-only" name="library-outline"></ion-icon>
            <ion-label>تکلیف</ion-label>
        </ion-button>
        <ion-button shape="circle" color="danger">
            <ion-icon slot="icon-only" name="bar-chart-outline"></ion-icon>
            <ion-label>آزمون</ion-label>
        </ion-button>
        <ion-button shape="circle" color="warning" (click)="onNotes()">
            <ion-icon slot="icon-only" name="reader-outline"></ion-icon>
            <ion-label>یادداشت</ion-label>
        </ion-button>

    </div>
    <hr>
    <div>
        <ion-grid fixed>
            <ion-row>
                <ion-col size="4" *ngFor="let student of  studentsService.students$ | async" class="d-flex  align-items-stretch">
                    <ion-card class="student-card flex-fill" (click)="onStudentAction(student)" [color]="getColor(student)">
                        <ion-icon *ngIf="student.present" name="checkmark-circle" class="present" color="success"></ion-icon>

                        <div class="d-flex justify-content-center pt-2">
                            <ion-avatar slot="start">
                                <img alt="Avatar-Student" [src]="student.getImageUrl()" />
                            </ion-avatar>
                        </div>

                        <ion-card-header class="p-2">
                            <ion-card-subtitle class="text-center">
                                {{student.fullName}}
                            </ion-card-subtitle>
                        </ion-card-header>
                        <ion-card-content class="p-2 pt-0 pb-0">
                            <ng-container *ngIf="student.present">
                                <ion-badge *ngIf="student.reminders.length>0" class=" me-1" color="secondary" mode="ios">
                                    <ion-icon name="alarm-outline" size="small"></ion-icon>
                                </ion-badge>
                                <ion-badge *ngIf="student.homeWorkIssue" class=" me-1" color="danger" mode="ios">
                                    <ion-icon name="book-outline" size="small"></ion-icon>
                                </ion-badge>
                                <ion-badge *ngIf="student.notes.length>0" class=" me-1" color="warning" mode="ios">
                                    <ion-icon name="reader-outline" size="small"></ion-icon>
                                </ion-badge>


                            </ng-container>
                            <ng-container *ngFor="let score of student.scores">
                                <ion-badge *ngIf="score.positiveNegetive" color="success" class=" me-1" mode="ios">
                                    <ion-icon name="add-circle-outline" size="small"></ion-icon>
                                </ion-badge>
                                <ion-badge *ngIf="!score.positiveNegetive" color="danger" class=" me-1" mode="ios">
                                    <ion-icon name="remove-circle-outline" size="small"></ion-icon>
                                </ion-badge>
                            </ng-container>
                            <ion-badge color="danger" *ngIf="!student.present">غایب</ion-badge>

                        </ion-card-content>
                    </ion-card>
                </ion-col>

            </ion-row>
        </ion-grid>
    </div>

    <ion-modal #modal_note [isOpen]="isNotesModalOpen" (didDismiss)="isNotesModalOpen=false" [presentingElement]="presentingElement">
        <ng-template>
            <app-note [modal]="modal_note" [classTask]="globalService.currentClassTask" [book]="book" [lesson]="lesson" [student]="selectedStudent"></app-note>
        </ng-template>
    </ion-modal>

    <ion-modal #modal_reminder [isOpen]="isReminderModalOpen" (didDismiss)="isReminderModalOpen=false" [presentingElement]="presentingElement">
        <ng-template>
            <app-reminder [modal]="modal_reminder" [classTask]="globalService.currentClassTask" [book]="book" [lesson]="lesson" [student]="selectedStudent"></app-reminder>
        </ng-template>
    </ion-modal>


    <ion-modal class="auto-height" #modal [isOpen]="isStudentActionsModalOpen" (didDismiss)="isStudentActionsModalOpen=false" [initialBreakpoint]="0.35" [breakpoints]="[0, 0.35]">
        <ng-template>

            <ion-grid fixed>
                <ion-row>
                    <ion-col size="6" class="p-3 ion-text-center">
                        <ion-button shape="circle" color="secondary" class="action-button" size="large" (click)="onStudentReminder()">
                            <div class="d-flex flex-column p-2">
                                <ion-icon slot="icon-only" name="alarm-outline" size="large"></ion-icon>
                                <ion-label class="mt-2"> یادآور</ion-label>
                            </div>

                        </ion-button>
                    </ion-col>
                    <ion-col size="6" class="p-3 ion-text-center">
                        <ion-button shape="circle" (click)="onAssess()" color="danger" size="large" class="action-button">
                            <div class="d-flex flex-column p-2">
                                <ion-icon slot="icon-only" name="bar-chart-outline" size="large"></ion-icon>
                                <ion-label class="mt-2"> ارزشیابی</ion-label>
                            </div>
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6" class="p-3 ion-text-center">
                        <ion-button shape="circle" (click)="onScore()" color="primary" size="large" class="action-button">
                            <div class="d-flex flex-column p-2">
                                <ion-icon slot="icon-only" name="star" size="large"></ion-icon>
                                <ion-label class="mt-2"> امتیازدهی</ion-label>
                            </div>
                        </ion-button>
                    </ion-col>
                    <ion-col size="6" class="p-3 ion-text-center">
                        <ion-button shape="circle" color="tertiary" size="large" (click)="onStudentNotes()" class="action-button">
                            <div class="d-flex flex-column p-2">
                                <ion-icon slot="icon-only" name="reader-outline" size="large"></ion-icon>
                                <ion-label class="mt-2"> یادداشت</ion-label>
                            </div>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ng-template>
    </ion-modal>

    <ion-modal #score_modal id="score-modal" [isOpen]="isScoreModalOpen" (didDismiss)="isScoreModalOpen=false">
        <ng-template>
            <div class="p-3">
                <ion-segment value="postive" mode="ios">
                    <ion-segment-button value="postive">
                        <ion-icon name="add-circle-outline" class="text-success"></ion-icon>
                        <ion-label>مثبت</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="negative" class="text-danger">
                        <ion-icon name="remove-circle-outline"></ion-icon>
                        <ion-label>ناخوشایند</ion-label>
                    </ion-segment-button>
                </ion-segment>
                <ion-item class="pt-2">
                    <ion-label position="stacked"> یادداشت</ion-label>
                    <ion-textarea placeholder="متن خود را وارد نمایید"></ion-textarea>
                </ion-item>
                <div>
                    <ion-button expand="block" (click)="saveScore()">
                        <ion-icon name="save-outline" size="large"></ion-icon>
                        <ion-label class="me-2"> ذخیره</ion-label>
                    </ion-button>
                </div>
            </div>


        </ng-template>
    </ion-modal>
</ion-content>