<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="modal.dismiss()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>یادآور</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="save()">
                <ion-icon slot="icon-only" name="save-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="student" class="pt-3 pb-1   d-flex flex-column align-items-center justify-content-center">
        <ion-avatar>
            <img alt="Avatar-Student" [src]="student?.getImageUrl()" onerror="this.src='/assets/img/avatar.webp'" />
        </ion-avatar>
        <b> {{student?.fullName}}</b>
    </div>

    <!-- Reminders List -->
    <app-expandable-section [(expanded)]="expanded" *ngIf="prevReminders && prevReminders.length>0">
        <div class="p-2 old_items">
            <div>
                <h4>یادآور های قبلی کلاس:</h4>
            </div>
            <div>
                <ion-card *ngFor="let r of prevReminders;let index=index" [ngClass]="{'reminder-item': !expanded, 'reminder-item-expanded': expanded}" class="score-item" [style.transform]="'scale(' + getScale(index) + ')'">
                    <ion-item lines="none">
                        <ion-avatar slot="start">
                            <ion-icon name="alarm-outline" color="secondary" size="large" *ngIf="!r.isReport"></ion-icon>
                            <ion-icon name="alarm-outline" color="warning" size="large" *ngIf="r.isReport"></ion-icon>
                            <!-- <ion-icon name="newspaper-outline" color="warning" size="small" *ngIf="r.isReport"></ion-icon> -->
                        </ion-avatar>
                        <ion-label>
                            <ion-note> {{r.remindTime | date}}</ion-note>
                            <p> {{r.note}}</p>
                        </ion-label>

                        <ion-button fill="clear" slot="end" (click)="remove(r)" color="medium">
                            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>

                        </ion-button>
                    </ion-item>
                </ion-card>

            </div>
        </div>
    </app-expandable-section>


    <!-- Add New  Reminder -->
    <div class="p-2">
        <ion-item lines="none">
            <ion-icon slot="start" name="albums-outline"></ion-icon>
            <ion-label>نوع یادآورد :</ion-label>

        </ion-item>


        <ion-segment mode="ios" [(ngModel)]="isReport" color="warning">

            <ion-segment-button value="true">
                <ion-label> گزارشی</ion-label>
            </ion-segment-button>
            <ion-segment-button value="false">
                <ion-label>شخصی </ion-label>
            </ion-segment-button>
        </ion-segment>


        <ion-item lines="none">
            <ion-icon slot="start" name="alarm-outline"></ion-icon>
            <ion-label>زمان یادآوری:</ion-label>

        </ion-item>

        <ion-segment mode="ios" [(ngModel)]="dateType" color="tertiary">
            <ion-segment-button value="next">
                <ion-label> جلسه بعدی درس</ion-label>
            </ion-segment-button>
            <ion-segment-button value="tommorow">
                <ion-label> فردا</ion-label>
            </ion-segment-button>
            <ion-segment-button value="exact-date">
                <ion-label> تاریخ مشخص</ion-label>
            </ion-segment-button>
        </ion-segment>


        <div class="days mt-2 " style="overflow-x: scroll; width: 100%;" *ngIf="dateType=='exact-date'">
            <div class="d-inline-flex ">
                <div *ngFor="let d of nextDays" [class.selected]="d.dayNo==selectedDay?.dayNo" (click)="selectedDay=d" class="day px-1 mx-2 d-flex flex-column justify-content-center align-items-center">
                    <span class="date"> {{d.dayNo}}</span>
                    <span class="symbol"> {{d.dayName}}</span>

                </div>
            </div>
        </div>


        <ion-item class="pt-2">
            <ion-label position="stacked">متن یاد آوری</ion-label>
            <ion-textarea placeholder="متن خود را وارد نمایید" [autoGrow]="true" [(ngModel)]="notes"></ion-textarea>
        </ion-item>
    </div>
</ion-content>
<ion-footer class="p-2">
    <ion-button expand="block" (click)="save()">
        <ion-icon name="save-outline" size="large"></ion-icon>
        <ion-label class="me-2"> ذخیره</ion-label>
    </ion-button>
</ion-footer>