<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="modal.dismiss()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>یادداشت</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="save()">
                <ion-icon slot="icon-only" name="save-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="student" class="pt-3 d-flex flex-column align-items-center justify-content-center">
        <ion-avatar>
            <img alt="Avatar-Student" [src]="student?.getImageUrl()" />
        </ion-avatar>
        <b> {{student?.fullName}}</b>
    </div>
    <div class="p-2">
        <ion-item lines="none">
            <ion-icon slot="start" name="alarm-outline"></ion-icon>
            <ion-label>زمان یادآوری:</ion-label>

        </ion-item>

        <ion-segment mode="ios" [(ngModel)]="dateType">
            <ion-segment-button value="next">
                <ion-label> جلسه بعدی</ion-label>
            </ion-segment-button>
            <ion-segment-button value="tommorow">
                <ion-label> فردا</ion-label>
            </ion-segment-button>
            <ion-segment-button value="exact-date">
                <ion-label> تاریخ مشخص</ion-label>
            </ion-segment-button>
        </ion-segment>

        <div class="days d-flex justify-content-around mt-2" *ngIf="dateType=='exact-date'">
            <div *ngFor="let d of days" class="day px-2  d-flex flex-column justify-content-center align-items-center" [class.selected]="d.no==selectedDay?.no" (click)="selectedDay=d">
                <span class="date"> {{d.date | date: 'dd'}}</span>
                <span class="symbol"> {{d.symbol}}</span>

            </div>
        </div>

        <ion-item class="pt-2">
            <ion-label position="stacked">متن یاد آوری</ion-label>
            <ion-textarea placeholder="متن خود را وارد نمایید" [(ngModel)]="notes"></ion-textarea>
        </ion-item>
    </div>
</ion-content>
<ion-footer class="p-2">
    <ion-button expand="block" (click)="save()">
        <ion-icon name="save-outline" size="large"></ion-icon>
        <ion-label class="me-2"> ذخیره</ion-label>
    </ion-button>
</ion-footer>