<ion-header collapse="fade" class="ion-no-border">
    <ion-toolbar>
        <ion-title>
            برنامه درسی امروز
        </ion-title>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['edit']" routerLinkActive="router-link-active">
                <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="p-2 pb-4">
        <ion-button [routerLink]="['edit']" expand="block" color="secondary" class="my-3">
            <ion-icon name="create-outline"></ion-icon>
            &nbsp;
            ویرایش برنامه درسی کلاسی
        </ion-button>

        <app-timeline [selectedDay]="globalService.todayDay" [rings]="globalService.rings" [schedules]="todayShedules"></app-timeline>
    </div>

</ion-content>