
ion-title {
  font-size: x-small;
}

.item-prof{
  margin-top: 32px;
  font-weight: bold;

}

.item-title {
  color: gray;
  margin-top: 8px;

}

.item-content {
  margin-top: 8px;

}
.item-icon {
  font-size: x-small;
  position: absolute;
  left: 0;
  margin-left: 16px;

}

hr{
  margin: 16px;
}



  .input-rounded {
    background-color: rgb(204, 202, 202);
    border-radius: 8px;
    font-size: small;
    color: rgb(80, 79, 79);
    padding-right: 16px;
    padding-left: 16px;
  }



.input-button {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 8px;

}


