<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title> شرایط و قوانین</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-icon name="document-text-outline" size="large" style="color: #2e8b57;"></ion-icon>
    <ion-icon name="ribbon" size="medium" style="color: rgb(214, 139, 0); margin-right: -15px; margin-top: 20px;">
    </ion-icon>
    <h2> شرایط و قوانین استفاده از سوپر مارکت آنلاین</h2>
    <hr>
    <p>

        کاربر گرامی لطفاً موارد زیر را جهت استفاده بهینه از خدمات و برنامه‌‏
        های کاربردی سوپر مارکت آنلاین به دقت ملاحظه فرمایید.
        ورود کاربران به اپلیکیشن سوپر مارکت آنلاین هنگام استفاده از پروفایل شخصی، طرحهای تشویقی و سایر خدمات ارائه شده توسط سوپر مارکت آنلاین
        به معنای آگاه بودن و پذیرفتن شرایط و قوانین و همچنین نحوه استفاده از سرویس ها و خدمات کم کسر است
    </p>
    <br>
    <h3>قوانین عمومی</h3>
    <p>توجه داشته باشید کلیه اصول و رویه‏‌های سوپر مارکت آنلاین منطبق با قوانین جمهوری اسلامی ایران، قانون تجارت الکترونیک و قانون
        حمایت از حقوق مصرف کننده است و متعاقبا کاربر نیز موظف به رعایت قوانین مرتبط با کاربر است. در صورتی که در قوانین
        مندرج، رویه‏‌ها و سرویس‏‌های سوپر مارکت آنلاین تغییراتی در آینده ایجاد شود، در همین صفحه منتشر و به روز رسانی می شود و شما
        توافق می‏‌کنید که استفاده مستمر شما از سایت به معنی پذیرش هرگونه تغییر است.</p>
    <br>
    <h3>تعریف مشتری یا کاربر</h3>
    <p>مشتری یا کاربر به شخصی گفته می‌شود که با اطلاعات کاربری خود که در فرم ثبت‌نام درج کرده است، به ثبت سفارش یا هرگونه
        استفاده از خدمات سوپر مارکت آنلاین اقدام کند.
        همچنین از آنجا که سوپر مارکت آنلاین یک وب‌سایت خرده‌فروشی آنلاین است، طبق قانون تجارت الکترونیک مشتری یا مصرف کننده هر شخصی
        است که به منظوری جز تجارت یا شغل حرفه‌ای به خرید کالا یا خدمات اقدام می‌کند.</p>
    <br>
    <p><b>سایر قوانین می بایست تکمیل شود</b></p>
</ion-content>