<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title> شرایط و قوانین</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-icon name="document-text-outline" size="large" style="color: #2e8b57;"></ion-icon>
    <ion-icon name="ribbon" size="medium" style="color: rgb(214, 139, 0); margin-right: -15px; margin-top: 20px;">
    </ion-icon>
    <h2> شرایط و قوانین استفاده </h2>
    <hr>
    <p>

        کاربر گرامی استفاده از این برنامه برای شما رایگان است
    </p>

</ion-content>