@import "../../../../theme/variables.scss";

.no-items {
    color: #ababab;
    text-align: center;
    padding-bottom: 10px;
}



.attendance {
    text-align: center;

    span {
        max-width: 100px;
    }

    ion-avatar {
        position: relative;

        ion-icon {
            position: absolute;
            right: -14px;
            top: -2px;
        }
    }

}

.score {


    ion-avatar {
        position: relative;
        overflow: visible;
        width: 64px;
        height: 64px;

        .flag {
            position: absolute;
            right: -14px;
            top: -2px;
        }
    }

    .actions {
        width: 60px;
    }


}

.score.red {
    border-right: 0.25rem solid var(--ion-color-danger);
}

.score.green {
    border-right: 0.25rem solid var(--ion-color-success);
}


.reminder {
    text-align: center;

    span {
        max-width: 100px;
    }

    ion-avatar {
        position: relative;
        box-shadow: 4px 6px 10px #7f7f7f61;

    }

    ion-badge {
        position: absolute;
        right: 50px;
    }
}


.old_items {


    ion-card {
        transition: all 0.3s;

        ion-slide {
            max-height: 180px;
            overflow: hidden;

            img {

                width: 100%;
            }
        }

        ion-item::part(native) {
            --inner-padding-start: 0px;
            --inner-padding-end: 0px;
        }

        ion-item {
            ion-avatar {
                margin-inline-end: 0;
                margin-bottom: auto;
                margin-top: 1rem;
            }

            .actions {
                margin-bottom: auto;
                margin-top: 0.5rem;
            }
        }
    }

    .reminder-item:not(:first-child) {
        margin-top: -50px;
    }

    .reminder-item-expanded {
        margin-top: 0px;

        ion-item {
            ion-label {
                white-space: normal;
            }
        }
    }
}


.home-work {
    ion-item {
        ion-label {
            white-space: normal;
        }
    }
}