<div class="avatar d-flex flex-column align-items-center">
    <div class="d-flex align-items-center justify-content-center">
        <ion-avatar class="d-flex align-items-center justify-content-center">
            <ion-icon color="success" name="color-filter-outline" size="large"></ion-icon>
        </ion-avatar>
    </div>
</div>
<ion-header class="content-header ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="modal.dismiss()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>ایجاد گروه بندی</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="save()">
                <ion-icon slot="icon-only" name="save-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="round-content">
    <form class="p-2" [formGroup]="form" style="margin-bottom: 180px;">
        <ion-item class="pt-2">
            <ion-label position="stacked"> عنوان گروه بندی :</ion-label>
            <ion-input placeholder="مثال: گروه بندی علوم فصل اول" formControlName="name"></ion-input>
        </ion-item>

        <ion-item lines="none">
            <ion-label>قابل استفاده در :</ion-label>
        </ion-item>
        <ion-segment mode="ios" [(ngModel)]="groupMode" [ngModelOptions]="{standalone: true}">
            <ion-segment-button value="private">
                <ion-label> صرفا همین درس</ion-label>
            </ion-segment-button>
            <ion-segment-button value="public">
                <ion-label>همه درس ها</ion-label>
            </ion-segment-button>
        </ion-segment>

        <div class="pb-4 pt-2 students">
            <ion-button (click)="mode='create-auto'" expand="full" shape="round" *ngIf="mode!='create-auto'">
                <ion-icon slot="start" name="duplicate-outline"></ion-icon>
                ایجاد گروه بندی خودکار
            </ion-button>
            <div *ngIf="mode=='create-auto'">

                <ion-grid fixed class="counter">
                    <ion-row>
                        <ion-col size="12">
                            <b>چه تعداد دانش آموز در هر گروه باشند؟</b>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="4">
                            <ion-button expand="block" fill="outline" (click)="createAutoGroup(2)">
                                2
                            </ion-button>
                        </ion-col>
                        <ion-col size="4">
                            <ion-button expand="block" fill="outline" (click)="createAutoGroup(3)">
                                3
                            </ion-button>
                        </ion-col>
                        <ion-col size="4">
                            <ion-button expand="block" fill="outline" (click)="createAutoGroup(4)">
                                4
                            </ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="4">
                            <ion-button expand="block" fill="outline" (click)="createAutoGroup(5)">
                                5
                            </ion-button></ion-col>
                        <ion-col size="4">
                            <ion-button expand="block" fill="outline" (click)="createAutoGroup(6)">
                                6
                            </ion-button>
                        </ion-col>
                        <ion-col size="4"> <ion-button expand="block" fill="outline" (click)="createAutoGroup(7)">
                                7
                            </ion-button></ion-col>
                    </ion-row>
                </ion-grid>
                <ion-button (click)="mode='manual'" expand="full" shape="round" fill="outline" color="secondary">
                    <ion-icon slot="start" name="checkbox-outline"></ion-icon>
                    ایجاد گروه بندی انتخابی
                </ion-button>
            </div>

            <div *ngIf="mode!='create-auto'">
                <ion-card class="student-card flex-fill" *ngFor="let group of subGroups;let index=index">
                    <ion-card-header>
                        <ion-item>
                            <ion-label position="stacked"> نام گروه :</ion-label>
                            <ion-input [(ngModel)]="group.name" [ngModelOptions]="{standalone: true}" placeholder=" نام را وارد نمایید"></ion-input>
                            <ion-button slot="end" fill="clear" (click)="removeGroup(index)" color="danger">
                                <ion-icon slot="icon-only" name="trash"></ion-icon>
                            </ion-button>
                        </ion-item>
                    </ion-card-header>
                    <ion-card-content class="group">
                        <div class="d-flex flex-column" *ngFor="let s of group.students">
                            <ion-avatar slot="start">
                                <img alt="Avatar-Student" [src]="s.getImageUrl()" onerror="this.src='/assets/img/avatar.webp'" />
                            </ion-avatar>
                            <span>{{s.fullName}}</span>
                        </div>
                    </ion-card-content>
                    <ion-button fill="clear" (click)="editGroup(group)">
                        <ion-icon slot="start" name="create-outline"></ion-icon>
                        ویرایش دانش آموزان
                    </ion-button>
                </ion-card>
            </div>


            <ion-button *ngIf="mode!='create-auto'" (click)="mode='manual';addGroup()" expand="full" shape="round" fill="outline">
                <ion-icon slot="start" name="add"></ion-icon>
                ثبت گروه دانش آموزی انتخابی
            </ion-button>

        </div>
    </form>

    <ion-modal #modal_select_student [isOpen]="isModalOpen" (didDismiss)="isModalOpen=false" (ionBreakpointDidChange)="modalChanged($event)" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.75,1]">
        <ng-template>
            <app-select-student [modal]="modal_select_student" viewMode="list" source="single" [selectedStudents]="selectedStudents" [disabledStudentIds]="disabledStudentIds" (selectedChange)="onSelectStudents(selectedStudents=$event)"></app-select-student>
        </ng-template>
    </ion-modal>

</ion-content>

<ion-footer class="p-2">
    <ion-button expand="block" (click)="save()">
        <ion-icon name="save-outline" size="large"></ion-icon>
        <ion-label class="me-2"> ذخیره</ion-label>
    </ion-button>
</ion-footer>