<table style="width: 100%;">
    <thead>
        <tr class="bg-light">
            <th class="fs-5 text-center">
                <ion-icon name="alarm-outline" *ngIf="ringMode=='time'" (click)="ringMode='title'"></ion-icon>
                <ion-icon name="time-outline" *ngIf="ringMode=='title'" (click)="ringMode='time'"></ion-icon>
            </th>
            <th *ngFor="let r of rings" class="text-center">
                <ng-container *ngIf="ringMode=='time'">
                    {{r.startTime}}
                    <br />
                    <span class="text-secondary"> {{r.endTime}}</span>
                </ng-container>

                <ng-container *ngIf="ringMode=='title'">
                    {{r.title}}
                </ng-container>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let d of days">
            <td>
                {{d.dayName}}
            </td>
            <td *ngFor="let r of rings" class="text-center">
                <ng-container *ngIf="getSchedule(r,d);else selectLesson">
                    <ion-avatar (click)="openMenu(getSchedule(r,d))">
                        <img [src]="getSchedule(r,d).lesson?.getImageUrl()" onerror="this.src='/assets/img/book.png'">
                    </ion-avatar>
                    <ion-badge color="secondary" class="px-3 animated">
                        <span class="min"> {{getSchedule(r,d).lesson?.name}}</span>
                    </ion-badge>
                </ng-container>


                <ng-template #selectLesson>
                    <ion-button (click)="openLessonPicker(r,d.no)">
                        {{'SCHEDULE.SELECT' | translate}}
                    </ion-button>
                </ng-template>

            </td>
        </tr>
    </tbody>


</table>