<ion-header>

    <!-- <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button>
                <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar> -->

    <!-- Header -->
    <div class="py-4">
        <div class=" d-flex flex-column align-items-center">
            <ion-button (click)="onSingOut()" expand="block" shape="round" style="position:absolute; left:8px " color="light">
                خروج
            </ion-button>
            <ion-avatar class="avatar">
                <img src="assets/img/avatar.webp">
            </ion-avatar>
            <ion-text>
                <h3 class="text-white-color">{{user.fullName}}</h3>
            </ion-text>

        </div>

    </div>

</ion-header>
<ion-content [fullscreen]="true" color="light">
    <ion-fab vertical="top" horizontal="end" slot="fixed" edge>
        <ion-fab-button color="tertiary" size="small">
            <ion-icon name="pencil" size="small"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <div class="ion-padding">
        <ion-text></ion-text>
    </div>
    <div class="px-2 shadow-sm " style="background: #FFF;">
        <ion-list>
            <ion-item lines="full" button [routerLink]="['/tabs/profile']" (click)="contactAdmin()">
                <ion-icon name="albums-outline" slot="start" color="success"></ion-icon>
                <ion-label>
                    مدیریت کلاس ها
                </ion-label>
            </ion-item>
            <ion-item button lines="full" [routerLink]="['/tabs/profile']" (click)="contactAdmin()">
                <ion-icon name="notifications-outline" slot="start" color="warning"></ion-icon>
                <ion-label>
                    مدیریت زنگ ها
                </ion-label>
            </ion-item>
            <ion-item button lines="full" [routerLink]="['/tabs/profile']" (click)="contactAdmin()">
                <ion-icon name="people-outline" slot="start" color="secondary"></ion-icon>
                <ion-label>
                    مدیریت دانش آموز ها
                </ion-label>
            </ion-item>
            <ion-item button lines="full" [routerLink]="['/tabs/profile']" (click)="contactAdmin()">
                <ion-icon name="shapes-outline" slot="start" color="danger"></ion-icon>
                <ion-label>
                    مدیریت پارامترهای ارزشیابی
                </ion-label>
            </ion-item>
            <ion-item button lines="none" [routerLink]="['/tabs/profile']" (click)="contactAdmin()">
                <ion-icon name="book-outline" slot="start" color="tertiary"></ion-icon>
                <ion-label>
                    مدیریت دروس
                </ion-label>
            </ion-item>
        </ion-list>
    </div>

    <div class="ion-padding">
        <ion-text>سایر موارد</ion-text>
    </div>

    <div class="px-2 shadow-sm" style="background: #FFF;">
        <ion-list>
            <!-- <ion-item button lines="full" (click)="support()">
                <ion-icon name="headset-outline" slot="start" style="color:#D68665;"></ion-icon>
                <ion-label>
                    پشتیانی
                </ion-label>
            </ion-item> -->
            <ion-item button lines="full" (click)="help()">
                <ion-icon name="help-circle-outline" slot="start" style="color:#F0D03D ;"></ion-icon>
                <ion-label>
                    راهنما
                </ion-label>
            </ion-item>
            <ion-item button lines="full" (click)="reportBug()">
                <ion-icon name="bug-outline" slot="start" style="color:rgb(212, 54, 48) ;"></ion-icon>
                <ion-label>
                    گزارش خطا
                </ion-label>
            </ion-item>
            <ion-item button lines="none" [routerLink]="['/tabs/profile/about']">
                <ion-icon name="information-circle-outline" slot="start" style="color:#796CD3 ;"></ion-icon>
                <ion-label>
                    درباره ما
                </ion-label>
            </ion-item>

        </ion-list>
    </div>

    <div class="ion-padding ion-text-center">
        <ion-text class="text-secondary text-small"> تمامی حقوق محفوظ است</ion-text>
    </div>
</ion-content>