<ion-tabs (ionTabsDidChange)="setCurrentTab($event)">

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon [name]="current_tab == 'home' ? 'home' : 'home-outline'"></ion-icon>
            <ion-label>خانه</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="schedule">
            <ion-icon [name]="current_tab == 'schedule' ? 'calendar' : 'calendar-outline'"></ion-icon>
            <ion-label>برنامه کلاسی </ion-label>
        </ion-tab-button>


        <ion-tab-button tab="start">
        </ion-tab-button>

        <ion-tab-button tab="reports">
            <ion-icon name="speedometer-outline" [name]="current_tab == 'reports' ? 'speedometer' : 'speedometer-outline'"></ion-icon>
            <ion-label>ارزیابی </ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <ion-icon [name]="current_tab == 'profile' ? 'settings' : 'settings-outline'"></ion-icon>
            <ion-label>تنظیمات</ion-label>
        </ion-tab-button>


    </ion-tab-bar>

</ion-tabs>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="startClass()">
        <ion-icon name="book-outline" *ngIf="globalService.currentSession;else play"></ion-icon>
        <ng-template #play>
            <ion-icon name="play-outline"></ion-icon>
        </ng-template>
    </ion-fab-button>
    <ion-fab-list side="top" *ngIf="globalService.currentSession==undefined">
        <ion-fab-button (click)="startNextClass()" color="secondary" data-desc=" درس بعدی">
            <ion-icon name="play-skip-forward-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="startNewClass()" color="secondary" data-desc=" درس انتخابی">
            <ion-icon name="library-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>