<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>بررسی تکالیف،تمرین</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="pb-5">
        <app-expandable-section [(expanded)]="expanded">
            <app-home-work-item [item]="homeWork" [expanded]="expanded" [readonly]="true"></app-home-work-item>
        </app-expandable-section>

        <div class="px-2 pt-3">
            <ion-segment mode="ios" [(ngModel)]="viewMode" style="width: 140px;">
                <ion-segment-button value="list" layout="icon-start">
                    <ion-icon name="reorder-four-outline" class="ms-2"></ion-icon>
                </ion-segment-button>
                <ion-segment-button value="grid" layout="icon-start">
                    <ion-icon name="grid-outline" class="ms-2"></ion-icon>
                </ion-segment-button>
            </ion-segment>
        </div>
        <ion-grid fixed class="mt-3" *ngIf="viewMode=='grid'">
            <ion-row>
                <ion-col size="4" *ngFor="let student of studentHomeWorkAssess " class="d-flex  align-items-stretch">
                    <ion-card class="student-card flex-fill" (click)="onAssess(student)">

                        <ion-badge *ngIf="student.progerssStep>0" color="warning" class="score-rate" mode="ios">
                            <ion-icon src="../../../../assets/coins.svg" class="me-2" size="small">
                            </ion-icon>
                            <span> {{student.progerssStep}}</span>
                        </ion-badge>

                        <!-- Avatar -->
                        <div class="d-flex justify-content-center pt-2">
                            <ion-avatar slot="start">
                                <img alt="Avatar-Student" [src]="student.student.getImageUrl()" onerror="this.src='/assets/img/avatar.webp'" />
                            </ion-avatar>
                        </div>

                        <ion-card-header class="p-1">
                            <ion-card-subtitle class="text-center">
                                {{student.student.fullName}}
                            </ion-card-subtitle>
                        </ion-card-header>
                        <ion-card-content class="px-2 pt-0 pb-1 d-flex justify-content-center">
                            <ion-badge [color]="student.accessLevel.ionColor" class="px-3 py-2">
                                <span class="min">{{student.accessLevel.title}} </span>
                            </ion-badge>
                            <ion-badge *ngIf="student.note" class="note" color="warning" mode="ios">
                                <ion-icon name="document-text-outline" size="small"></ion-icon>
                            </ion-badge>
                        </ion-card-content>
                    </ion-card>
                </ion-col>

            </ion-row>
        </ion-grid>

        <ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen=false" [initialBreakpoint]="0.4" [breakpoints]="[0, 0.4]">
            <ng-template>
                <div class="p-3">
                    <ion-segment [scrollable]="true" mode="ios" [(ngModel)]="assess.level">
                        <ion-segment-button value="{{am.value}}" class="{{am.bdColor}}" [class.selected]="assess.level==am.value" *ngFor="let am of assessLevels">
                            <ion-icon [name]="am.ionIcon"></ion-icon>
                            <ion-label>
                                {{am.title}}
                            </ion-label>
                        </ion-segment-button>
                    </ion-segment>
                    <div class="mt-2">
                        <app-score-rating [maxScore]="10" [(score)]="assess.progerssStep"></app-score-rating>
                    </div>
                    <ion-item class="pt-2">
                        <ion-label position="stacked"> یادداشت</ion-label>
                        <ion-textarea placeholder="متن خود را وارد نمایید" [(ngModel)]="assess.note"></ion-textarea>
                    </ion-item>

                    <div class="mt-2">
                        <ion-button expand="block" (click)="addAssess()" color="secondary">
                            <ion-icon name="save-outline" size="large"></ion-icon>
                            <ion-label class="me-2"> ذخیره</ion-label>
                        </ion-button>
                    </div>
                </div>


            </ng-template>
        </ion-modal>

        <ng-container *ngIf="viewMode=='list'">
            <div *ngFor="let student of studentHomeWorkAssess ">
                <ion-card class="student-card flex-fill">
                    <ion-card-content>
                        <ion-item lines="none">
                            <ion-avatar slot="start">
                                <img alt="Avatar-Student" [src]="student.student.getImageUrl()" onerror="this.src='/assets/img/avatar.webp'" />
                            </ion-avatar>
                            <ion-label> {{student.student.fullName}}</ion-label>
                        </ion-item>
                        <div class="d-flex flex-column ion-align-items-center">


                            <ion-segment [scrollable]="true" mode="ios" [(ngModel)]="student.level">
                                <ion-segment-button value="{{am.value}}" class="{{am.bdColor}}" [class.selected]="student.level==am.value" *ngFor="let am of assessLevels">
                                    <ion-icon [name]="am.ionIcon"></ion-icon>
                                    <ion-label>
                                        {{am.title}}
                                    </ion-label>
                                </ion-segment-button>
                            </ion-segment>
                            <app-score-rating [maxScore]="10" [(score)]="student.progerssStep"></app-score-rating>
                        </div>
                    </ion-card-content>
                </ion-card>
            </div>
        </ng-container>
    </div>
</ion-content>

<ion-footer>
    <ion-grid fixed class="p-2 pb-3">
        <ion-row>
            <ion-col size="6">
                <ion-button expand="block" (click)="save(false)" color="secondary">
                    <ion-icon name="save-outline" size="large"></ion-icon>
                    <ion-label class="me-2"> ذخیره</ion-label>
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button expand="block" (click)="save(true)" color="success">
                    <ion-icon name="save-outline" size="large"></ion-icon>
                    <ion-label class="me-2"> ذخیره و اتمام</ion-label>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>