<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="d-flex flex-column align-items-center ion-text-center">
        <img src="assets/img/about.jpg" width="100%">
        <div class="ion-padding">
            <h1>درباره همیار معلم</h1>
            <p class="text-gray-color">این برنامه برای کمک و دستیاری معلم در زمینه مسائل آموزشی کلاس طراحی شده شده است</p>
            <br>
            <h2 style="color: #8862e9;">نظر شما درباره همیار معلم</h2>
            <p class="text-gray-color">به ما امتیاز دهید </p>
            <ion-button shape="round">
                ثبت نظر
            </ion-button>
        </div>
    </div>
</ion-content>