<div class="avatar-header d-flex flex-column align-items-center">

    <ion-avatar>
        <img alt="avatar-Student" [src]="student?.getImageUrl()" onerror="this.src='/assets/img/avatar.webp'" />
    </ion-avatar>
</div>
<ion-header class="content-header ion-no-border" collapse="fade">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="modal.dismiss()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>ثبت مشاهده و امتیاز</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="saveScore()">
                <ion-icon slot="icon-only" name="save-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>
<ion-content class="round-content">
    <div class="d-flex flex-column align-items-center pt-4">

        <b> {{student?.fullName}}</b>

    </div>
    <div class="p-3">
        <app-expandable-section [(expanded)]="expanded" *ngIf="prevScores && prevScores.length>0">

            <div class="old_items ">
                <div>
                    <h4>مشاهدات قبلی کلاس:</h4>
                </div>
                <div>
                    <ion-card *ngFor="let s of prevScores;let index=index" [ngClass]="{'score-item': !expanded, 'score-item-expanded': expanded}" class="score-item" [style.transform]="'scale(' + getScale(index) + ')'">
                        <ion-item lines="none">
                            <ion-avatar slot="start">
                                <ion-icon *ngIf="s.progerssFlag>0" name="add-circle-outline" class="text-success" size="large"></ion-icon>
                                <ion-icon *ngIf="s.progerssFlag<0" name="remove-circle-outline" class="text-danger" size="large"></ion-icon>
                            </ion-avatar>
                            <ion-label class="ion-text-wrap mb-0">
                                <h3>{{s.eduParameterTitle}}</h3>
                                <p> {{s.note}}</p>

                            </ion-label>
                            <ion-button fill="clear" slot="end" (click)="remove(s)" color="medium">
                                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>

                            </ion-button>
                        </ion-item>
                        <div class="px-3 pb-2 d-flex align-items-center">
                            <ion-icon src="../../../../assets/coins.svg" [color]="s.progerssFlag>0?'warning':'danger'" size="large">
                            </ion-icon>

                            <span class="mx-1">امتیاز:

                            </span>
                            <ion-badge *ngIf="s.progerssFlag>0" color="warning" mode="ios">
                                {{s.progerssStep}}
                            </ion-badge>
                            <ion-badge *ngIf="s.progerssFlag<0" color="danger" mode="ios">
                                {{s.progerssStep}}-
                            </ion-badge>
                        </div>
                    </ion-card>


                </div>
            </div>
        </app-expandable-section>

        <ion-segment [(ngModel)]="posNeg" mode="ios">
            <ion-segment-button value="positive" [class.selected]="posNeg=='positive'" class="text-success">
                <ion-icon name="add-circle-outline"></ion-icon>
                <ion-label>مثبت</ion-label>
            </ion-segment-button>
            <ion-segment-button value="negative" [class.selected]="posNeg=='negative'" class="text-danger">
                <ion-icon name="remove-circle-outline" class="text-danger"></ion-icon>
                <ion-label>نیاز به تلاش</ion-label>
            </ion-segment-button>
        </ion-segment>

        <div class="d-flex justify-content-center">
            <app-score-rating [(score)]="rate" [(notes)]="notes" [color]="posNeg!='negative'?'warning':'danger'"></app-score-rating>
        </div>


        <div class="border-bottom mt-3">
            <span>پارامتر ارزیابی</span>


            <div class="parameters">
                <ion-row no-padding>

                    <ion-col size="4" class="ion-no-padding" *ngFor="let item of assesmentParamters">
                        <ion-card class="d-flex flex-column justify-content-center align-items-center" (click)="selectedeParameter=item" [class.selected]="selectedeParameter==item">
                            <ion-icon [src]="imageUrl+'/parameters/param_'+item.id+'.svg'" size="large"></ion-icon>
                            <span> {{item.title}}</span>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </div>
            <!-- <ion-select [(ngModel)]="selectedeParameter" placeholder="...انتخاب کنید" class="flex-fill" interface="popover">
                <ion-select-option value="apples" *ngFor="let item of assesmentParamters" [value]="item">
                    {{item.title}}
                </ion-select-option>
            </ion-select> -->
        </div>

    </div>
</ion-content>

<ion-footer class="p-2">
    <ion-button expand="block" (click)="saveScore()" [disabled]="selectedeParameter==undefined">
        <ion-icon name="save-outline" size="large"></ion-icon>
        <ion-label class="me-2"> ذخیره</ion-label>
    </ion-button>
</ion-footer>