ion-header {
    overflow: visible;
    min-height: 120px;
}

.avatar {


    ion-card {
        width: 90px;
        height: 90px;
        position: absolute;
        top: 42px;
        z-index: 300;

        ion-avatar {
            width: 80px;
            height: 80px;
        }
    }
}

.old_items {
    ion-card {
        transition: all 0.3s;
    }

    .score-item:not(:first-child) {
        margin-top: -45px;
    }

    .score-item-expanded {
        margin-top: 0px;
    }
}

ion-footer {
    margin-top: -180px;
    background: #fff;
}


ion-item {

    ion-select {
        width: 100%;
        max-width: 100%;
    }

    ion-label {
        max-width: 100px;
    }
}