<div class="p-3  border rounded uploader-container ">

    <div *ngIf="!singleFile || files.length==0" class="upload-item m-1 d-flex align-items-center justify-content-center" (click)="selectUploader()">

        <div class="content opacity-50">
            <ion-icon size="large" name="add-circle-outline"></ion-icon>
            <br>
            {{addTitle}}

        </div>

    </div>

    <div class="upload-item m-1 d-flex" *ngFor="let file of files">

        <ion-button class="position-absolute top-0 start-0" color="danger" (click)="removeImage(file)">
            <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
        </ion-button>

        <ng-container *ngIf="file.progressStatus=='in-progress' || file.progressStatus==''">
            <ion-progress-bar [value]="file.progress" *ngIf="file.progressStatus=='in-progress'">
            </ion-progress-bar>

            <div *ngIf="!isImageFile(file)" class="content align-self-center">
                <ion-icon name="document-outline" class="text-muted" size="large"></ion-icon>
                <div class="px-1.5 rounded text-sm font-semibold leading-5 text-white " [class.bg-danger]="file.extention === 'PDF'" [class.bg-primary]="file.extention === 'DOC'" [class.bg-primary]="file.extention === 'DOCX'" [class.bg-success]="file.extention === 'XLSX'" [class.bg-success]="file.extention === 'XLS'" [class.bg-secondary]="file.extention=== 'TXT'">
                    {{file.extention}}
                </div>
            </div>
            <img *ngIf="isImageFile(file)" class="opacity-50" [src]="file.fullFilePath">
        </ng-container>

        <ng-container *ngIf="file.progressStatus=='uploaded'">
            <a [href]="file.fullFilePath" target="_blank" *ngIf="!isImageFile(file)" class="d-flex flex-column align-items-center align-self-stretch">
                <ion-icon name="document-outline" class="mx-auto" size="large"></ion-icon>
                <div class="px-1.5 rounded text-sm font-semibold leading-5 text-white " [class.bg-danger]="file.extention === 'PDF'" [class.bg-primary]="file.extention === 'DOC'" [class.bg-primary]="file.extention === 'DOCX'" [class.bg-success]="file.extention === 'XLSX'" [class.bg-success]="file.extention === 'XLS'" [class.bg-secondary]="file.extention=== 'TXT'">
                    {{file.extention}}
                </div>
            </a>
            <img *ngIf="isImageFile(file)" [src]="file.fullFilePath" (click)="openImageViewer(file.fullFilePath)">
        </ng-container>
    </div>


    <input #cameraUpload type="file" name="cameraUpload" accept="image/x-png,image/jpeg,image/gif;capture=camera" capture="environment" id="cameraUpload" style="display: none" />
    <input #fileUpload type="file" name="fileUpload" accept="{{fileFilters}}" id="fileUpload" style="display: none" />
</div>