ion-badge {
    position: absolute;
    right: -15px;
    top: -2px;
}

ion-button {
    position: relative;
    overflow: visible !important;
}

/* Setting Overflow Visible */
ion-button::part(native) {
    overflow: visible !important;
}