<ion-header class="content-header ion-no-border" collapse="fade" [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>انتخاب درس</ion-title>
    </ion-toolbar>
    <img alt="Avatar" [src]="book?.getImageUrl()" />
</ion-header>

<ion-content class="round-content flex-fill p-2">

    <div>
        <ion-item>
            <ion-avatar slot="start">
                <img alt="Avatar" [src]="book?.getImageUrl()" />
            </ion-avatar>
            <ion-label>
                <h3>{{book?.name}} </h3>
                <p>آخرین درس:
                    {{book?.lastSessionLesson?.name}} </p>
            </ion-label>

        </ion-item>
        <div class="p-2 px-4">
            <div class="progress">
                <div class="progress-value" [style.width]="getProgressValue()+'%'"></div>
            </div>
            <div class="text-center">
                {{getHasSessionLesson()}}&nbsp;درس از &nbsp;{{lessons?.length}}&nbsp;تا
            </div>
        </div>
        <ion-list>
            <ion-item *ngFor="let item of lessons">
                <ion-icon *ngIf="item.sessionsCount>0;else wait" name="checkmark-circle-outline" slot="start" class="text-success"></ion-icon>
                <ng-template #wait>
                    <ion-icon name="time-outline" slot="start"></ion-icon>
                </ng-template>


                <ion-label>{{item.name}}</ion-label>

                <div class="buttons d-flex align-items-center">
                    <ng-container *ngIf="item.sessionsCount>0;else start">

                        <ion-button slot="end" fill="clear" (click)="viewClass(item)">
                            <ion-icon name="eye-outline" color="secondary"></ion-icon>
                            <ion-badge slot="start" color="secondary" mode="ios">
                                {{item.sessionsCount}}
                            </ion-badge>
                        </ion-button>
                        <ion-button slot="end" fill="clear" (click)="startClass(item)">
                            <ion-icon name="play-outline"></ion-icon>
                        </ion-button>
                    </ng-container>

                    <ng-template #start>
                        <ion-button slot="end" fill="clear" (click)="startClass(item)">
                            <ion-icon name="play"></ion-icon>
                        </ion-button>
                    </ng-template>
                </div>

            </ion-item>
        </ion-list>

    </div>

</ion-content>