<div class="days d-flex justify-content-around" *ngIf="!singleDay">
    <div *ngFor="let d of days" class="day px-2  d-flex flex-column justify-content-center align-items-center" [class.selected]="d.no==selectedDay.no" (click)="selectedDay=d">
        <ion-icon name="today-outline"></ion-icon>
        <span class="title">
            {{d.symbol}}
        </span>
    </div>
</div>
<div class="timeline mt-3">
    <div class="time-item" *ngFor="let r of rings" [class.scheduled]="getSchedule(r)">
        <ion-card class="item_content">

            <ion-card-content>
                <ng-container *ngIf="getSchedule(r);else selectLesson">
                    <ion-item lines="none">
                        <ion-avatar slot="start">
                            <img [src]="getSchedule(r).lesson.getImageUrl()" onerror="this.src='/assets/img/book.png'">
                        </ion-avatar>
                        <ion-label>
                            {{getSchedule(r).lesson.name}}
                        </ion-label>
                    </ion-item>
                    <div class="d-flex flex-row-reverse">
                        <ng-container *ngIf="singleDay">
                            <ion-button color="primary" (click)="edit(getSchedule(r))">
                                <ion-icon slot="start" name="play"></ion-icon>
                                {{'START' | translate}}
                            </ion-button>
                        </ng-container>
                        <ng-container *ngIf="!singleDay">
                            <ion-button color="secondary" (click)="edit(getSchedule(r))">
                                {{'EDIT' | translate}}
                            </ion-button>
                            <ion-button color="danger" fill="outline" (click)="deleteItem(getSchedule(r))">
                                {{'DELETE' | translate}}
                            </ion-button>
                        </ng-container>
                    </div>

                </ng-container>

                <ng-template #selectLesson>
                    <ion-item lines="none">
                        <ion-avatar slot="start">
                            <img src="/assets/img/book.png">
                        </ion-avatar>
                        <ion-label>
                            {{'SCHEDULE.NO_LESSON_SELECTED' | translate}}
                        </ion-label>
                    </ion-item>
                    <div class="d-flex flex-row-reverse">
                        <ion-button *ngIf="!singleDay" (click)="openPicker(r)"> {{'SCHEDULE.SELECT' | translate}}</ion-button>
                    </div>

                </ng-template>

            </ion-card-content>
        </ion-card>
        <div class="duration">
            {{r.startTime}}

            <small class="text-secondary"> <br /> {{r.endTime}}</small>
        </div>
    </div>

</div>