@import "../../../../theme/variables.scss";

.selected {
    background: var(--ion-color-warning);
    border-color: var(--ion-color-warning) !important;
    color: white;
}

.selected.red {
    background: var(--ion-color-danger);
    border-color: var(--ion-color-danger) !important;
}