<ion-header no-border [translucent]="true" class="content-header ion-no-border">
    <ion-toolbar>
        <ion-title>

            دستیار معلم
        </ion-title>
    </ion-toolbar>
    <div class="py-3">
        <ion-item lines="none">
            <ion-avatar slot="start">
                <img alt="Avatar" src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?w=96" />
            </ion-avatar>
            <ion-label>
                <h3>
                    سلام! معلم عزیز
                </h3>
                <p>امروز یک روز خوب برای شروع هست</p>
            </ion-label>

        </ion-item>

    </div>
</ion-header>

<ion-content class="shadow round-content">

    <div class="p-3">
        <ion-segment [(ngModel)]="viewMode" mode="ios">
            <ion-segment-button value="dashboard">
                <ion-label>داشبورد</ion-label>
            </ion-segment-button>
            <ion-segment-button value="timeline">
                <ion-label>برنامه کلاسی</ion-label>
            </ion-segment-button>
        </ion-segment>
        <ng-container *ngIf="viewMode=='dashboard'">
            <ion-card color="secondary" (click)="attendance()">
                <ion-card-header class="pb-1">
                    <ion-card-title>حضور غیاب</ion-card-title>
                    <ion-card-subtitle>
                        <ion-icon name="today-outline" style="font-size: 24px;"></ion-icon>
                        {{dateName}}
                    </ion-card-subtitle>
                </ion-card-header>

                <ion-card-content class="">
                    <div class=" absents">
                        <span class="ms-3"> غیابین:</span>
                        <ion-avatar slot="start" *ngFor="let s of absentStudents">
                            <img alt="Avatar-Student" [src]="s.getImageUrl()" />

                        </ion-avatar>
                    </div>

                </ion-card-content>
            </ion-card>

            <h3>درس بعدی:</h3>
            <ng-container *ngIf="nextSchedule;else noNextSchedule">
                <app-schedule-item [schedule]="nextSchedule"></app-schedule-item>
            </ng-container>

            <ng-template #noNextSchedule>
                <div class="no-data d-flex flex-column align-items-center justify-content-center">

                    <ion-label *ngIf="nextScheduleStatus=='none'">
                        <h3> برنامه کلاسی وجود ندارد</h3>
                    </ion-label>
                    <ion-icon *ngIf="nextScheduleStatus=='finish'" name="checkmark-circle-outline" color="success" size="large"></ion-icon>
                    <ion-label *ngIf="nextScheduleStatus=='finish'">

                        <h3> تمامی دروس تمام شده</h3>
                    </ion-label>
                </div>
            </ng-template>

            <!-- --------------------------- Reminders---------------------------------- -->
            <h3>یادآور ها:</h3>
            <ng-container *ngIf="(reminderService.lesson_reminders$ | async).length==0">
                <div class="no-data d-flex flex-column align-items-center justify-content-center">
                    <ion-icon name="alarm-outline" size="large"></ion-icon>
                    <ion-label *ngIf="nextScheduleStatus=='finish'">
                        <h3>هیچ یادآوری برای امروز وجود ندارد</h3>
                    </ion-label>
                </div>
            </ng-container>

            <div class="d-flex">
                <ng-container *ngFor="let lr of reminderService.lesson_reminders$ | async">
                    <ion-avatar slot="start">
                        <img alt="Avatar-Student" [src]="lesson.getImageUrl(lr.lessonId)" />
                    </ion-avatar>
                </ng-container>
                <ng-container *ngFor="let sr of reminderService.student_reminders$ | async">
                    <ion-avatar slot="start" class="reminder">
                        <img alt="Avatar-Student" [src]="studentModel.getImageUrl(sr.studentId)" />
                        <ion-badge class=" me-1" color="secondary" mode="ios">
                            <ion-icon name="alarm-outline" size="small"></ion-icon>
                        </ion-badge>
                    </ion-avatar>
                </ng-container>

            </div>


            <h3>فعالیت های امروز:</h3>
        </ng-container>

        <ng-container *ngIf="viewMode=='timeline'">
            <app-timeline [selectedDay]="todayDay" [rings]="globalService.rings" [schedules]="todayShedules"></app-timeline>
        </ng-container>

    </div>

</ion-content>