<ion-header class="content-header ion-no-border" collapse="fade">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>حضور غیاب</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="save()">
                <ion-icon slot="icon-only" name="save-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="round-content ">

    <div class="p-2 py-3">
        <ion-grid fixed>
            <ion-row>
                <ion-col size="4" *ngFor="let student of students" class="d-flex  align-items-stretch">
                    <ion-card class="student-card flex-fill" (click)="onStudentAction(student)">
                        <ion-icon *ngIf="student.attendanceStatus == AttendanceStatus.Present" name="checkmark-circle" class="attendance-status" color="success"></ion-icon>
                        <ion-icon *ngIf="student.attendanceStatus == AttendanceStatus.Absent" name="close-circle" class="attendance-status" color="danger"></ion-icon>
                        <ion-icon *ngIf="student.attendanceStatus == AttendanceStatus.Delayed" name="time" class="attendance-status" color="warning"></ion-icon>
                        <ion-icon *ngIf="student.attendanceStatus == AttendanceStatus.Remote" name="laptop-outline" class="attendance-status" color="secondary"></ion-icon>

                        <div class="d-flex justify-content-center pt-2">
                            <ion-avatar slot="start">
                                <img alt="avatar-Student" [src]="student.getImageUrl()" onerror="this.src='/assets/img/avatar.webp'" />
                            </ion-avatar>
                        </div>

                        <ion-card-header class="p-2">
                            <ion-card-subtitle class="text-center">
                                {{student.fullName}}
                            </ion-card-subtitle>
                        </ion-card-header>
                        <ion-card-content class="p-2 pt-0 d-flex justify-content-center">
                            <ion-badge color="success" *ngIf="student.attendanceStatus== AttendanceStatus.Present">حاضر</ion-badge>
                            <ion-badge color="danger" *ngIf="student.attendanceStatus== AttendanceStatus.Absent">غایب</ion-badge>
                            <ion-badge color="warning" *ngIf="student.attendanceStatus== AttendanceStatus.Delayed">تاخیر</ion-badge>
                            <ion-badge color="secondary" *ngIf="student.attendanceStatus== AttendanceStatus.Remote">راه دور</ion-badge>
                        </ion-card-content>
                    </ion-card>
                </ion-col>

            </ion-row>
        </ion-grid>
    </div>

</ion-content>

<ion-footer class="p-2 pb-4">
    <ion-button expand="block" (click)="save()">
        <ion-icon name="save-outline" size="large"></ion-icon>
        <ion-label class="me-2"> ذخیره</ion-label>
    </ion-button>
</ion-footer>