@import "../../../theme/variables.scss";

ion-header {
    overflow: visible;
    min-height: 120px;
}

.avatar {
    margin: 10px auto;

    ion-card {
        width: 90px;
        height: 90px;
        position: absolute;
        top: 35px;
        z-index: 300;

        ion-avatar {
            width: 80px;
            height: 80px;
        }
    }
}

.round-content:before {
    top: -39px
}

.widget-chart {
    height: 280px;
}

ion-card.exapndable {

    ion-card-header {
        ion-icon {
            transition: all .3s;
        }

        hr {
            margin-block: 0.5rem;
        }

        ion-item::part(native) {
            padding-inline-start: 0 !important;
            padding-right: 0 !important;
            --inner-padding-start: 0px;
            --inner-padding-end: 0px;
        }
    }

    ion-card-header.exapnded {
        ion-icon {
            transform: rotate(180deg);
        }
    }
}

ion-segment-button.selected {

    ion-label,
    ion-icon {
        color: #fff;
    }
}

ion-segment-button.text-danger {
    --indicator-color: var(--ion-color-danger);
}

ion-segment-button.text-warning {
    --indicator-color: var(--ion-color-warning);
}

ion-segment-button.text-primary {
    --indicator-color: var(--ion-color-secondary);
}

ion-segment-button.text-success {

    --indicator-color: var(--ion-color-primary);
}