<div class="avatar-header d-flex flex-column align-items-center">

    <ion-avatar>
        <img alt="Avatar-Student" [src]="student?.getImageUrl()" onerror="this.src='/assets/img/avatar.webp'" />
    </ion-avatar>
</div>
<ion-header class="content-header ion-no-border" collapse="fade">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>ارزشیابی</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="save()">
                <ion-icon slot="icon-only" name="save-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content class="round-content">
    <div class="d-flex flex-column align-items-center pt-4">

        <b> {{student?.fullName}}</b>

    </div>
    <div class="px-3 pb-4">
        <hr>
        <!-- Summery -->
        <ion-card class="exapndable">
            <ion-card-header (click)="cardExpanded=!cardExpanded" [class.exapnded]="cardExpanded">
                <ion-item lines="none">
                    <ion-icon slot="start" name="chevron-down"></ion-icon>
                    <ion-label>وضعیت کلی:

                    </ion-label>
                    <ion-badge [color]="currentLevel?.ionColor" class="px-3 py-2 animated">
                        <span class="min">{{currentLevel?.title}} &nbsp;| {{avg|number:'1.1-1'}}</span>
                    </ion-badge>
                </ion-item>
                <hr *ngIf="cardExpanded">
            </ion-card-header>

            <ion-card-content *ngIf="cardExpanded" class="ion-padding">
                <div echarts [options]="chartOptions" class="widget-chart" theme="roma"></div>
            </ion-card-content>
        </ion-card>
        <h3>
            از طریق:
        </h3>
        <ion-segment mode="ios" class="mt-4">
            <ion-segment-button value="homeWork">
                <ion-label>شفاهی/مشاهده</ion-label>
            </ion-segment-button>
            <ion-segment-button value="test">
                <ion-label>آزمون عملکردی</ion-label>
            </ion-segment-button>
            <ion-segment-button value="intuative">
                <ion-label>آزمون مداد کاغذی</ion-label>
            </ion-segment-button>
        </ion-segment>

        <!-- Assessment -->
        <div class="d-flex flex-column">
            <ion-button (click)="clear()" fill="outline" color="danger" class="mt-2">
                <ion-icon name="trash-bin-outline"></ion-icon>
                حذف انتخاب ها
            </ion-button>
            <!-- Create  Parameters & Levels -->
            <div *ngFor="let param of paramters;let index=index;" class="pt-2">
                <b> {{index+1}}.&nbsp;{{param.title}}</b>
                <ion-segment [scrollable]="true" [(ngModel)]="param.level" mode="ios">
                    <ion-segment-button (click)="selectMeasure(param,am)" [class.selected]="param.level==am.value" value="{{am.value}}" class="{{am.bdColor}}" *ngFor="let am of assessLevels">
                        <ion-icon [name]="am.ionIcon"></ion-icon>
                        <ion-label>
                            {{am.title}}
                        </ion-label>
                    </ion-segment-button>

                </ion-segment>
            </div>
        </div>
    </div>
</ion-content>