.days {
    background: #f7f7f7;
    border-radius: 15px;
    padding: .5rem;

    .day {
        height: 50px;
        width: 45px;
        background: #fff;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    }

    .day.selected {
        background: #4E7DF1;
        color: #fff;
        box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    }
}


.timeline {
    background: #f7f7f7;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    .time-item {
        padding-right: 65px;
        position: relative;

        .duration {
            position: absolute;
            right: 5px;
            top: 50px;
        }

        .item_content:before {
            content: attr(data-level);
            position: absolute;
            right: -36px;
            top: 58px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 26px;
            width: 26px;
            border-radius: 50%;
            border: 4px solid #b8bcb8;
            background-color: #a0a4a0;
            color: #fff;
            font-size: 20px;
        }
    }

    .time-item.inprogress {
        .item_content:before {
            border: 4px solid #5f9cf6;
            background-color: #3a87fb;
        }

    }

    .time-item.held {
        .item_content:before {

            border: 4px solid #9bf6a9;
            background-color: #55da69;
        }
    }

    .time-item:before {
        content: "";
        position: absolute;
        top: 0px;
        right: 50px;
        border-right: 4px solid #cbcbcf;
        width: 2px;
        height: 118%;
    }

    .time-item:last-child::before {
        height: 50%;
    }

    .time-item:after {
        content: "";
        position: absolute;
        border-top: 2px solid #cbcbcf;
        top: 70px;
        right: 63px;
        width: 13px;
    }

    .item_content {
        overflow: visible;
    }

}


ion-card.lesson {

    ion-card-content {
        padding: 0.5rem;
    }

    ion-item::part(native) {
        padding-inline-start: 0 !important;
        padding-right: 0 !important;
        --inner-padding-start: 0px;
        --inner-padding-end: 0px;
    }

    .widget-chart {
        height: 90px;
        width: 90px;
        margin-right: -15px;
    }


    ion-item {
        font-size: 10px;
        color: rgb(133, 133, 133);



        ion-icon {
            margin-inline: 0px 5px;
        }

        ion-label {
            margin: 0;
        }
    }
}