<ion-header class="content-header ion-no-border" collapse="fade">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>انتخاب دانش آموز </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content class="round-content ">


</ion-content>

<ion-footer class="p-2 pb-4">
    <ion-button expand="block" (click)="save()">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <ion-label class="me-2"> تایید انتخاب</ion-label>
    </ion-button>
</ion-footer>